{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-office-member")) %}

<h1>{{ officeContact.contact.parseFullName() }} {{ officeContactLink(officeContact,'edit','button') }}</h1>

{% if not officeContact.isActive() %}
    {{ lbs5alert().danger(translate("txt-contact-has-been-set-as-inactive-on-%s")|format(officeContact.dateEnd|date('d-m-Y')))|raw }}
{% endif %}

<dl class="dl-horizontal">
    <dt>{{ translate("txt-id") }}</dt>
    <dd>{{ officeContact.id }}</dd>
    <dt>{{ translate("txt-name") }}</dt>
    <dd>{{ contactLink(officeContact.contact, 'view-admin') }}</dd>
    <dt>{{ translate("txt-hours") }}</dt>
    <dd>{{ officeContact.hours }}</dd>
    {% if officeContact.calendarColor %}
        <dt>{{ translate("txt-calendar-color") }}</dt>
        <dd><span class="badge bg-secondary" style="background-color: {{ officeContact.calendarColor }};">{{ officeContact.calendarColor }}</span></dd>
    {% endif %}
    {% if officeContact.dateEnd %}
        <dt>{{ translate("txt-date-end") }}</dt>
        <dd>{{ officeContact.dateEnd|string_date }}</dd>
    {% endif %}
</dl>

<h2>{{ translate("txt-leave") }}</h2>


<ul class="nav nav-pills pb-3">
    {% for year in years %}
        <li class="nav-item">
            <a class="nav-link{% if year == selectedYear %} active{% endif %}"
               href="{{ url('zfcadmin/contact/office/view', {'id': officeContact.id}, {'query': {'year': year}}) }}">{{ year }}</a>
        </li>
    {% endfor %}
</ul>

{% if userLeave|length > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/office/view', 'id': officeContact.id, 'arguments': arguments, 'criteria': 'description', 'text': translate("txt-description")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/office/view', 'id': officeContact.id, 'arguments': arguments, 'criteria': 'type', 'text': translate("txt-type")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/office/view', 'id': officeContact.id, 'arguments': arguments, 'criteria': 'dateStart', 'text': translate("txt-date-start")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/office/view', 'id': officeContact.id, 'arguments': arguments, 'criteria': 'dateEnd', 'text': translate("txt-date-end")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/office/view', 'id': officeContact.id, 'arguments': arguments, 'criteria': 'hours', 'text': translate("txt-hours")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/office/view', 'id': officeContact.id, 'arguments': arguments, 'criteria': 'hours', 'text': translate("txt-days")} %}</th>
            <th>{{ translate("txt-balance-hours") }}</th>
            <th>{{ translate("txt-balance-days") }}</th>
        </tr>
        </thead>
        <tbody>
        {% set balance = 0 %}
        {% for leave in userLeave %}
            {% set balance = balance + (leave.hours * leave.type.factor) %}
            <tr>
                <td>{{ leave.description }} {{ leaveLink(leave, 'edit-admin', 'icon') }}</td>
                <td>{{ leave.type.type }}</td>
                <td>{{ leave.dateStart|string_date }}</td>
                <td>{{ leave.dateEnd|string_date }}</td>
                <td>{{ leave.hours }}</td>
                <td>{{ (leave.hours / 8)|number_format }}</td>
                <td>{{ balance|number_format(2) }}</td>
                <td>{{ (balance / 8)|number_format }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8"></td>
            </tr>
        </tfoot>
    </table>
{% else %}
    {{ lbs5alert().info(translate("txt-no-leave-found"))|raw }}
{% endif %}

{{ leaveLink(null, 'new-admin', 'button', officeContact) }}