<h2>{{ translate("txt-event") }}</h2>

<table class="table table-hover table-striped">

    {% for registration in contactService.contact.registration %}

        {# Try to see if we can find a registration of the event #}
        {% set registrationService = registrationServiceProxy(registration) %}
        <tr {% if registrationService.isCancelled() %}class="warning"{% endif %} >
            <td>{{ meetingLink(registration.meeting,'view', 'name') }}</td>
            <td>{{ registrationLink(registration,'view', 'text') }}</td>
            <td>{{ registration.meeting.dateFrom|from_to_date(registration.meeting.dateUntil, false) }}</td>
            <td>{{ registration.meeting.location }}</td>
            <td>
                {% for call in registration.meeting.call %}
                    {% set callService = callServiceProxy(call) %}
                    {% set nda = callService.findNdaByCallAndContact(call, contactService.contact) %}
                    {% if nda %}
                        {% if nda.dateApproved %}
                            {{ translate("txt-nda-approved-on-%s")|format(nda.dateApproved|date('d-m-Y')) }}
                        {% else %}
                            {{ translate("txt-nda-on-%s-submitted-but-not-approved-yet")|format(nda.dateSigned|date('d-m-Y')) }}
                        {% endif %}
                    {% else %}
                        {{ ndaLink(null, 'upload', 'text', call) }}
                    {% endif %}
                {% else %}
                    {{ translate("txt-not-applicable") }}
                {% endfor %}
            </td>
        </tr>


    {% endfor %}

</table>
