{% do headTitle().append(translate("txt-contacts")) %}
{% do headTitle().append(facebook.facebook) %}
<h1>{{ facebook }}</h1>

{% if  contacts|length > 0 %}
    <div class="row row-cols-4 row-cols-lg-6">
        {% for contact in contacts %}
            <div class="col mb-4">
                <div class="card h-100">

                    {% if contact.contact.hasPhoto() %}
                        <img class="card-img-top" src="{{ image(contactPhoto(contact.contact, null, constant("\\General\\ValueObject\\Image\\ImageDecoration::SHOW_RAW")), 200, 200, true, false, 2) }}"
                             alt="Card image cap">
                    {% else %}
                        <div style="height: 200px"></div>
                    {% endif %}

                    <div class="card-body">

                        <h4 class="card-title">{{ contact.contact.parseFullName() }}</h4>

                        <p class="card-text">
                            {% if contact.title|length > 0 %}{{ contact.title|raw }}<br>{% endif %}
                            {% if contact.subTitle|length > 0 %}{{ contact.subTitle|raw }}<br>{% endif %}

                            {% if facebook.getShowEmail() is constant("Contact\\Entity\\Facebook::SHOW_EMAIL_ALL") or
                                (
                                facebook.getShowEmail() is constant("Contact\\Entity\\Facebook::SHOW_EMAIL_MEMBER") and
                                contactInFacebook
                                ) %}
                                <i class="far fa-envelope"></i>&nbsp;<a
                                    href="mailto:{{ contact.email }}">{{ translate("txt-email") }}</a><br>
                            {% endif %}
                            {% if facebook.getShowPhone() is constant("Contact\\Entity\\Facebook::SHOW_MOBILE_PHONE_MEMBER") %}
                                {% if contactInFacebook and contact.mobile|length > 0 %}
                                    <i class="fas fa-mobile-alt"></i>&nbsp;{{ contact.mobile }}
                                {% elseif contact.phone|length > 0 %}
                                    <i class="fas fa-phone-alt"></i>&nbsp;{{ contact.phone }}
                                {% endif %}
                            {% endif %}
                            {% if facebook.getShowPhone() is constant("Contact\\Entity\\Facebook::SHOW_PHONE_MEMBER") and contact.phone|length > 0 %}
                                {% if contactInFacebook %}
                                    <i class="fas fa-phone-alt"></i>&nbsp;{{ contact.phone }}
                                {% endif %}
                            {% endif %}
                            {% if facebook.getShowPhone() is constant("Contact\\Entity\\Facebook::SHOW_PHONE_ALL") and contact.phone|length > 0 %}
                                <i class="fas fa-phone-alt"></i>&nbsp;{{ contact.phone }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}


{{ facebookLink(facebook,'send-message','button') }}
{{ facebookLink(facebook,'edit','button') }}
