{% do headTitle().append(translate("txt-contacts")) %}
{% do headTitle().append(translate("txt-send-message")) %}
<h1>{{ translate("txt-send-message-to-contacts-in-%s")|format(facebook) }}</h1>

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ facebook }}</p>
    </div>
</div>


<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-recipients") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">
            {% for contact in contacts %}
                {{ contact['contact'].displayName }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>
</div>

{{ ztbformelement(form.get('message')) }}

<hr>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<style type="text/css">
    textarea {
        font-family: "Courier New", Courier, monospace;
    }
</style>
