{% do headTitle().append(translate("txt-contacts")) %}
{% do headTitle().append(translate("txt-send-message")) %}
<h1>{{ translate("txt-send-message-to-contacts-in-%s")|format(facebook) }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-name") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ facebook }}</p>
    </div>
</div>


<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-recipients") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">
            {% for contact in contacts %}
                {{ contact['contact'].displayName }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>
</div>

{{ lbs5formelement(form.get('message')) }}

<hr>

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<style type="text/css">
    textarea {
        font-family: "Courier New", Courier, monospace;
    }
</style>
