<h2>{{ translate("txt-event") }}</h2>

{% if contact.registration.count() > 0 %}
    <table class="table table-hover table-striped table-condensed table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-event") }}</th>
            <th>{{ translate("txt-registration") }}</th>
            <th>{{ translate("txt-date") }}</th>
            <th>{{ translate("txt-location") }}</th>
            <th>{{ translate("txt-nda") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for registration in contact.registration %}
            <tr {% if registrationService.isCancelled(registration) %}class="warning"{% endif %} >
                <td>{{ meetingLink(registration.meeting,'view-admin', 'name') }}</td>
                <td>{{ registrationLink(registration,'view', 'text') }}</td>
                <td>{{ registration.meeting.dateFrom|from_to_date(registration.meeting.dateUntil, false) }}</td>
                <td>{{ registration.meeting.location }}</td>
                <td>
                    {% for call in registration.meeting.call %}
                        {% set nda = callService.findNdaByCallAndContact(call, contact) %}
                        {% if nda %}
                            {% if nda.dateApproved %}
                                {{ translate("txt-nda-approved-on-%s")|format(nda.dateApproved|date('d-m-Y')) }}
                            {% else %}
                                {{ translate("txt-nda-on-%s-submitted-but-not-approved-yet")|format(nda.dateSigned|date('d-m-Y')) }}
                            {% endif %}
                        {% else %}
                            {{ ndaLink(null, 'submit', 'text', call) }}
                        {% endif %}
                    {% else %}
                        {{ translate("txt-not-applicable") }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-no-event-registrations-were-found-for-this-contact"))|raw }}
{% endif %}

{{ registrationLink(null, 'add-contact', 'button', null, contact) }}