<h2>{{ translate("txt-contact-details") }}</h2>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-first-name") }}</dt>
    <dd>{{ contactService.contact.firstName }}</dd>
    <dt>{{ translate("txt-last-name") }}</dt>
    <dd>{{ contactService.contact.lastName }} {% if contactService.contact.middleName %}({{ contactService.contact.middleName }}){% endif %}</dd>
    <dt>{{ translate("txt-gender") }}</dt>
    <dd>{{ contactService.contact.gender.name }} ({{ contactService.contact.gender }})</dd>
    <dt>{{ translate("txt-title") }}</dt>
    <dd>{{ contactService.contact.title }} ({{ contactService.parseAttention() }})</dd>
    <dt>{{ translate("txt-primary-email") }}</dt>
    <dd>{{ contactService.contact.email }} <a href="mailto:{{ contactService.contact.email }}"><i
                    class="fa fa-envelope-o"></i></a></dd>

    {% if contact.email.count() > 0 %}
        <dt>{{ translate("txt-alternative-email") }}</dt>
        {% for email in contact.email %}
            <dd>{{ email.email }} <a href="mailto:{{ email.email }}"><i
                            class="fa fa-envelope-o"></i></a></dd>
        {% endfor %}
    {% endif %}

    <dt>{{ translate("txt-organisation") }}</dt>
    {% if contactService.hasOrganisation() %}
        <dd>{{ organisationLink(
            contactService.findOrganisationService,'view-admin', 'name',contactService.contact.contactOrganisation.branch
            ) }}, ({{ contactService.contact.contactOrganisation.organisation.type }})
            {{ countryLink(contactService.contact.contactOrganisation.organisation.country,'view-admin','name') }}</dd>
    {% else %}
        <dd>{{ translate("txt-no-organisation-provided") }}</dd>
    {% endif %}

    <dt>{{ translate("txt-department") }}</dt>
    <dd>{{ contactService.contact.department|default(translate("txt-unknown")) }}</dd>
    <dt>{{ translate("txt-position") }}</dt>
    <dd>{{ contactService.contact.position }}</dd>
    <dt>{{ translate("txt-access") }}</dt>
    {% for access in contactService.contact.access %}
        <dd>{{ accessLink(access,'view','name') }}</dd>
    {% else %}
        <dd>{{ translate("txt-no-access-defined") }}</dd>
    {% endfor %}
</dl>

<h3>{{ translate("txt-notes") }}</h3>
{% if contactService.contact.note.count() > 0 %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>{{ translate("txt-note-id") }}</th>
            <th>{{ translate("txt-note-type") }}</th>
            <th>{{ translate("txt-note-content") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for note in contactService.contact.note %}
            <tr>
                <td>{{ note.id }} {{ noteLink(note,'edit','icon') }}</td>
                <td>{{ note.source }}</td>
                <td>{{ note.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ noteLink(null,'new','button') }}
{% else %}
    {{ ztbalert().info(translate("txt-no-notes-available-for-this-contact"))|raw }}
{% endif %}