<h2>{{ translate("txt-contact-details") }}</h2>

<form method="post" action="">
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>{{ translate("txt-first-name") }}</dt>
                <dd>{{ contact.firstName }}</dd>
                <dt>{{ translate("txt-last-name") }}</dt>
                <dd>{{ contact.lastName }} {% if contact.middleName %}({{ contact.middleName }}){% endif %}</dd>
                <dt>{{ translate("txt-gender") }}</dt>
                <dd>{{ contact.gender.name }} ({{ contact.gender }})</dd>
                {% if contact.title.name %}
                    <dt>{{ translate("txt-title") }}</dt>
                    <dd>{{ contact.title }} ({{ contactService.parseAttention(contact) }})</dd>
                {% endif %}
                <dt>{{ translate("txt-primary-email") }}</dt>
                <dd>{{ contact.email }} <a href="mailto:{{ contact.email }}"><i
                                class="fa fa-envelope-o"></i></a></dd>


                {% for email in contact.emailAddress if email.email != contact.email %}
                    {% if loop.first %}
                        <dt>{{ translate("txt-alternative-email") }}</dt>
                    {% endif %}
                    <dd>{{ email.email }} <a href="mailto:{{ email.email }}"><i
                                    class="fa fa-envelope-o"></i></a></dd>
                {% endfor %}

                <dt>{{ translate("txt-organisation") }}</dt>
                {% if contactService.hasOrganisation(contact) %}
                    <dd>{{ organisationLink(
                            contact.contactOrganisation.organisation,'view-admin', 'name',contact.contactOrganisation.branch
                        ) }} ({{ contact.contactOrganisation.organisation.type }}),
                        {{ countryLink(contact.contactOrganisation.organisation.country,'view-admin','name') }}</dd>
                {% else %}
                    <dd>{{ translate("txt-no-organisation-provided") }}</dd>
                {% endif %}

                <dt>{{ translate("txt-profile-visibility") }}</dt>
                {% if contact.profile.visible is not null %}
                    <dd>{{ translate(contact.profile.visible(true)) }}</dd>
                {% else %}
                    <dd>{{ translate("txt-no-visibililty-defined") }}</dd>
                {% endif %}
                {% if contact.profile.description %}
                    <dt>{{ translate("txt-expertise") }}</dt>
                    <dd>{{ contact.profile.description|nl2br }}</dd>
                {% endif %}

                <dt>{{ translate("txt-department") }}</dt>
                <dd>{{ contact.department|default(translate("txt-unknown")) }}</dd>
                <dt>{{ translate("txt-position") }}</dt>
                <dd>{{ contact.position|default(translate("txt-unknown")) }}</dd>
                <dt>{{ translate("txt-access") }}</dt>
                {% for access in contact.access %}
                    <dd>{{ accessLink(access,'view','name') }} {% if not access.selection.isEmpty() %}*{% endif %}</dd>
                {% else %}
                    <dd>{{ translate("txt-no-access-defined") }}</dd>
                {% endfor %}

                <dt>{{ translate("txt-date-created") }}</dt>
                <dd>{{ contact.dateCreated|string_date }}</dd>
                {% if contact.dateUpdated %}
                    <dt>{{ translate("txt-date-updated") }}</dt>
                    <dd>{{ contact.dateUpdated|string_date }}</dd>
                {% endif %}

                <dt>{{ translate("txt-date-activated") }}</dt>
                <dd>{% if contact.dateActivated %}{{ contact.dateActivated|string_date }}  <input type="submit"
                                                                                                  name="deactivate"
                                                                                                  value="{{ translate("txt-de-activate-contact") }}"
                                                                                                  class="btn btn-warning btn-xs">{% else %}{{ translate("txt-contact-is-not-activated-yet") }}
                        <input type="submit" name="activate" value="{{ translate("txt-activate-contact") }}"
                               class="btn btn-primary btn-xs">{% endif %}

                </dd>

                <dt>{{ translate("txt-date-anonymised") }}</dt>
                <dd>{% if contact.dateAnonymous %}{{ contact.dateAnonymous|string_date }}{% else %}{{ translate("txt-contact-is-not-anonymised-yet") }}{% endif %}</dd>

            </dl>
        </div>
        <div class="col-md-4">
            {{ contactPhoto(contact, 150, false, true) }}
        </div>
    </div>

    <h2>{{ translate("txt-privacy-options") }}</h2>
    <table class="table table-hover table-condensed table-striped">
        <thead>
        <tr>
            <th>{{ translate("txt-action") }}</th>
            <th>{{ translate("txt-possible") }}</th>
            <th>{{ translate("txt-reasons") }}</th>
            <th>{{ translate("txt-button") }}</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ translate("txt-delete-contact") }}</td>
            <td>{% if contactService.canDeleteContact(contact) %}<i class="fa fa-check text-success"></i>{% else %}<i
                        class="fa fa-times text-danger"></i>{% endif %}</td>
            <td>
                {% for why in contactService.cannotDeleteContact(contact) %}
                    {% if loop.first %}<ul>{% endif %}
                    <li>{{ why }}</li>
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </td>
            <td></td>
        </tr>

        <tr>
            <td>{{ translate("txt-anonymise-contact") }}</td>
            <td>{% if contactService.canAnonymiseContact(contact) %}<i class="fa fa-check text-success"></i>{% else %}<i
                        class="fa fa-times text-danger"></i>{% endif %}</td>
            <td>
                {% for why in contactService.canAnonymiseContactReasons(contact) %}
                    {% if loop.first %}<ul>{% endif %}
                    <li>{{ why }}</li>
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </td>
            <td>
                {% if contactService.canAnonymiseContact(contact) %}
                    {% if not contact.isAnonymised() %}

                        <input type="submit" name="anonymise" value="{{ translate("txt-anonymise-contact") }}"
                               class="btn btn-primary btn-sm">
                    {% else %}
                        <input type="submit" name="deanonymise" value="{{ translate("txt-de-anonymise-contact") }}"
                               class="btn btn-warning btn-sm">
                    {% endif %}
                {% endif %}
            </td>
        </tr>


        </tbody>
    </table>

    <h3>{{ translate("txt-notes") }}</h3>
    {% if contact.note.count() > 0 %}
        <table class="table table-hover table-striped table-condensed table-sm">
            <thead>
            <tr>
                <th>{{ translate("txt-note-id") }}</th>
                <th>{{ translate("txt-note-type") }}</th>
                <th>{{ translate("txt-note-content") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for note in contact.note %}
                <tr>
                    <td>{{ note.id }} {{ noteLink(note,'edit','icon') }}</td>
                    <td>{{ note.source }}</td>
                    <td>{{ note.note }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ ztbalert().info(translate("txt-no-notes-available-for-this-contact"))|raw }}
    {% endif %}

    {{ noteLink(null,'new','button', contact) }}

    <hr>
    {{ contactLink(contact,'edit-admin','button') }}
    {{ contactLink(contact,'permit','button') }}
    {{ contactLink(contact,'impersonate','button') }}

</form>