<h2>{{ translate("txt-project-idea") }}</h2>

{% if contactService.contact.idea.count() > 0 %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>{{ translate("txt-idea-number") }}</th>
            <th>{{ translate("txt-idea") }}</th>
            <th>{{ translate("txt-call") }}</th>

            <th>{{ translate("txt-comments") }}</th>
            <th>{{ translate("txt-partners") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for idea in contactService.contact.idea %}
            <tr>
                {% set ideaService = ideaServiceProxy(idea) %}
                <td>{{ ideaLink(ideaService,'view-admin','name') }}</td>
                <td>{{ ideaLink(ideaService,'view-admin','title') }}</td>
                <td>{{ callLink(ideaService.idea.call,'view-admin','name') }}</td>
                <td>{{ ideaService.idea.message.count() }}</td>
                <td>{{ ideaService.idea.partner.count() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-this-contact-has-no-project-ideas"))|raw }}
{% endif %}

<h2>{{ translate("txt-project-idea-comments") }}</h2>

{% if contactService.contact.ideaMessage.count() > 0 %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>{{ translate("txt-idea-number") }}</th>
            <th>{{ translate("txt-idea") }}</th>
            <th>{{ translate("txt-call") }}</th>

            <th>{{ translate("txt-comment") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for message in contactService.contact.ideaMessage %}
            <tr>
                {% set ideaService = ideaServiceProxy(message.idea) %}
                <td>{{ ideaLink(ideaService,'view-admin','number') }}</td>
                <td>{{ ideaService.idea.title }}</td>
                <td>{{ callLink(ideaService.idea.call,'view-admin','name') }}</td>
                <td>{{ message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-contact-has-not-commented-on-an-idea"))|raw }}
{% endif %}
