<h2>{{ translate("txt-legal") }}</h2>

{% set contact = contact %}

<table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>{{ translate("txt-type") }}</th>
        <th>{{ translate("txt-project") }}</th>
        <th>{{ translate("txt-call") }}</th>
        <th>{{ translate("txt-program") }}</th>
        <th>{{ translate("txt-date-created") }}</th>
        <th>{{ translate("txt-date-signed") }}</th>
        <th>{{ translate("txt-date-approved") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for nda in contact.nda %}
        <tr>
            <td>{{ translate("txt-nda") }} {{ ndaLink(nda,'download','icon') }} {{ ndaLink(nda,'view-admin','icon') }}</td>
            <td></td>
            <td>{% if nda.call %}{{ callLink(nda.call,'view-admin') }}{% else %}{{ translate("txt-living-roadmap") }}{% endif %}</td>
            <td>{% if nda.call %}{{ nda.call.program }}{% endif %}</td>
            <td>{{ nda.dateCreated|string_date }}</td>
            <td>{{ nda.dateSigned|string_date }}</td>
            <td>{{ nda.dateApproved|string_date }}</td>
        </tr>
    {% endfor %}
    {% for dnd in contact.dnd %}
        <tr>
            <td>{{ translate("txt-dnd") }}</td>
            <td></td>
            <td></td>
            <td>{{ dnd.program }}</td>
            <td>{{ dnd.dateCreated|string_date }}</td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    {% for affiliationDoa in contact.affiliationDoa %}
        <tr>
            {% set project = affiliationDoa.affiliation.project %}
            <td>{{ translate("txt-project-doa") }} {{ doaLink(affiliationDoa,'download','icon') }}{{ doaLink(affiliationDoa,'view-admin','icon') }}</td>
            <td>{{ projectLink(project,'view-admin','name') }}</td>
            <td>{{ callLink(project.call,'view-admin','name') }}</td>
            <td>{{ project.call.program }}</td>

            <td>{{ affiliationDoa.dateCreated|string_date }}</td>
            <td>{{ affiliationDoa.dateSigned|string_date }}</td>
            <td>{{ affiliationDoa.dateApproved|string_date }}</td>
        </tr>
    {% endfor %}
    {% for loi in contact.loi %}
        <tr>
            {% set project = loi.affiliation.project %}
            <td>{{ translate("txt-loi") }} {{ loiLink(loi,'download','icon') }} {{ loiLink(loi,'view-admin','icon') }}</td>
            <td>{{ projectLink(project,'view-admin','name') }}</td>
            <td>{{ callLink(project.call,'view-admin','name') }}</td>
            <td>{{ project.call.program }}</td>

            <td></td>
            <td>{{ loi.dateSigned|string_date }}</td>
            <td>{{ loi.dateApproved|string_date }}</td>
        </tr>
    {% endfor %}
    {% for programDoa in contact.programDoa %}
        <tr>
            <td>{{ translate("txt-program-doa") }} {{ programDoaLink(programDoa,'download','icon') }}</td>
            <td></td>
            <td></td>
            <td>{{ programDoa.program }}</td>

            <td>{{ programDoa.dateCreated|string_date }}</td>
            <td>{{ programDoa.dateSigned|string_date }}</td>
            <td>{{ programDoa.dateApproved|string_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>