<h2>{{ translate("txt-opt-in") }}</h2>
<form method="post">
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-opt-in") }}</th>
            <th>{{ translate("txt-description") }}</th>
            <th>{{ translate("txt-opt-in-status") }}</th>
            <th>{{ translate("txt-active") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="3"></td>
            <td><input type="submit" name="updateOptIn" value="{{ translate("txt-update-opt-in") }}"
                       class="btn btn-primary btn-sm"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for optIn in optIn %}
            <tr>
                <td>{{ optIn.optIn }}</td>
                <td>{{ optIn.description }}</td>
                <td>{{ translate(optIn.getActive(true)) }}</td>
                <td>
                    <input type="checkbox" name="optIn[]" value="{{ optIn.id }}"
                           {% for contactOptIn in contact.optIn if optIn.id == contactOptIn.id %}checked="checked"{% endfor %}
                    >
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>


{% if not contact.mailingContact.isEmpty() %}
    <h2>{{ translate("txt-mailings") }}</h2>
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-number") }}</th>
            <th>{{ translate("txt-id") }}</th>
            <th>{{ translate("txt-mailing") }}</th>
            <th>{{ translate("txt-subject") }}</th>
            <th>{{ translate("txt-owner") }}</th>
            <th>{{ translate("txt-sent") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for mailingContact in contact.mailingContact %}
            <tr {% if mailingContact.mailing.dateDeleted %}class="table-danger"{% endif %}>
                <td>{{ loop.index }}</td>
                <td>{{ mailingContact.mailing.id }}
                    {% if mailingContact.mailing.dateDeleted %}
                        <i class="fa fa-trash"
                           title="{{ translate("txt-selection-has-been-deleted-on-%s")|format(mailingContact.mailing.dateDeleted|date("d-m-Y")) }}"></i>
                    {% endif %}</td>
                <td>
                    {{ mailingLink(mailingContact.mailing,'view','name') }}
                    {{ mailingContactLink(mailingContact,'view','icon') }}
                </td>
                <td>
                    <span title="{{ mailingContact.mailing.mailSubject }}">{{ mailingContact.mailing.mailSubject|truncate(25, false, "...") }}</span>
                </td>
                <td>{{ contactLink(mailingContact.mailing.contact,'view-admin','initials') }}</td>
                <td>{{ mailingContact.dateSent|string_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

