<h2>{{ translate("txt-mailing") }}</h2>

<h3>{{ translate("txt-opt-in") }}</h3>
<table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>{{ translate("txt-opt-in") }}</th>
        <th>{{ translate("txt-description") }}</th>
        <th>{{ translate("txt-auto-subscribe") }}</th>
        <th>{{ translate("txt-active") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for optIn in optIn %}
        <tr>
            <td>{{ optIn.optIn }}</td>
            <td>{{ optIn.description }}</td>
            <td>{{ translate(optIn.autoSubscribe(true)) }}</td>
            <td>{% for contactOptIn in contact.optIn if optIn.id == contactOptIn.id %}YES{% endfor %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>{{ translate("txt-mailings") }}</h3>
<table class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>{{ translate("txt-number") }}</th>
        <th>{{ translate("txt-id") }}</th>
        <th>{{ translate("txt-mailing") }}</th>
        <th>{{ translate("txt-subject") }}</th>
        <th>{{ translate("txt-owner") }}</th>
        <th>{{ translate("txt-sent") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for mailingContact in contact.mailingContact %}
        <tr {% if mailingContact.mailing.dateDeleted %}class="danger"{% endif %}>
            <td>{{ loop.index }}</td>
            <td>{{ mailingContact.mailing.id }}
                {% if mailingContact.mailing.dateDeleted %}
                    <i class="fa fa-trash"
                       title="{{ translate("txt-selection-has-been-deleted-on-%s")|format(mailingContact.mailing.dateDeleted|date("d-m-Y")) }}"></i>
                {% endif %}</td>
            <td>{{ mailingLink(mailingContact.mailing,'view','name') }}</td>
            <td>
                <span title="{{ mailingContact.mailing.mailSubject }}">{{ mailingContact.mailing.mailSubject|truncate(25, false, "...") }}</span>
            </td>
            <td>{{ contactLink(mailingContact.mailing.contact,'view-admin','initials') }}</td>
            <td>{{ mailingContact.dateSent|string_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

