<h2>{{ contactService.contact }}</h2>

{{ contactPhoto(contactService.contact) }}

<h3>{{ translate("txt-organisation") }}</h3>
{{ organisationLink(
contactService.findOrganisationService,'view', 'name',contactService.contact.contactOrganisation.branch
) }}
{{ translate("txt-in") }} {{ contactService.contact.contactOrganisation.organisation.country }}

<h3>{{ translate("txt-project-involvement") }}</h3>

<ul>
    {% for projectService in contactService.findProjects() %}
        <li>{{ projectLink(projectService,'view', 'name') }} {{ projectService.project.country }}</li>
    {% endfor %}
</ul>