{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-impersonate-user-%s")|format(contact.parseFullname())) %}

<h1>{{ translate("txt-impersonate-user-%s")|format(contact.parseFullname()) }}</h1>
<p class="lead">{{ translate("txt-select-a-target-and-press-submit-to-get-the-deeplinks") }}</p>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{{ ztbformelement(form.get('target')) }}
{{ ztbformelement(form.get('key')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

{% if deeplink %}
    <h2>{{ translate("txt-deeplinks") }}</h2>
    <p>{{ translate("txt-use-the-deeplink-to-visit-the-target-use-a-new-private-session") }}</p>
    {{ deeplinkLink(deeplink) }}
    <a href="{{ deeplinkLink(deeplink) }}" class="btn btn-primary">{{ translate("txt-impersonate") }}</a>
{% endif %}
