{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-import-contacts")) %}

<h1>{{ translate("txt-import-contacts") }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

 {{ ztbformelement(form.get('selection_id')) }}
 {{ ztbformelement(form.get('selection')) }}
 {{ ztbformelement(form.get('optIn')) }}
 {{ ztbformelement(form.get('file')) }}

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {% if handleImport.hasErrors() %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for error in handleImport.getErrors() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if handleImport.hasWarnings() %}
            <div class="alert alert-warning" role="alert">
                <ul>
                    {% for warning in handleImport.getWarnings() %}
                        <li>{{ warning }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>


</div>


<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('upload')) }}
        {{ ztbformelement(form.get('import')) }}
    </div>
</div>

{% if  handleImport.getImportedContacts()|length > 0 %}
    {{ ztbalert().info(translate("txt-%s-contacts-imported")|format(handleImport.getImportedContacts()|length))|raw }}
{% endif %}


    {% if  handleImport.getContacts()|length > 0 %}
        <table class="table table-hover table-striped table-sm">
            <thead>
            <tr>
                <th></th>
                <th>{{ translate("txt-title") }}</th>
                <th>{{ translate("txt-firstname") }}</th>
                <th>{{ translate("txt-middlename") }}</th>
                <th>{{ translate("txt-lastname") }}</th>
                <th>{{ translate("txt-gender") }}</th>
                <th>{{ translate("txt-email") }}</th>
                <th>{{ translate("txt-phone") }}</th>
                <th>{{ translate("txt-organisation") }}</th>
                <th>{{ translate("txt-country") }}</th>
                <th>{{ translate("txt-position") }}</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="11">
                    <button class="btn btn-sm btn-info" id="check_all"
                            onclick="return false;">{{ translate("txt-check-all") }}</button>
                    <button class="btn btn-sm btn-info" id="check_none"
                            onclick="return false;">{{ translate("txt-check-none") }}</button>
                    <button class="btn btn-sm btn-info" id="check_inverse"
                            onclick="return false;">{{ translate("txt-check-inverse") }}</button>
                    <button class="btn btn-sm btn-info" id="check_known"
                            onclick="return false;">{{ translate("txt-check-known") }}</button>
                    <button class="btn btn-sm btn-info" id="check_unknown"
                            onclick="return false;">{{ translate("txt-check-unknown") }}</button>
                </td>
            </tr>
            </tfoot>
            <tbody>
            {% for contact in handleImport.getContacts() %}
                <tr>
                    <td><input type="checkbox" name="key[]"
                               class="check_import  {% if contact.id %}known_contact{% endif %}"
                               value="{{ contact.key }}"></td>
                    <td>{{ contact.title }}</td>
                    <td>{{ contact.firstname }} {% if contact.id %}{{ contactLink(contact,'view-admin', 'icon') }}{% endif %}</td>
                    <td>{{ contact.middlename }}</td>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.gender }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{% for phone in contact.phone %}{{ phone.phone }}{% endfor %}</td>
                    <td>{{ contact.contactOrganisation.organisation }}</td>
                    <td>{{ contact.contactOrganisation.organisation.country }}</td>
                    <td>{{ contact.position }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
                {{ ztbformelement(form.get('import')) }}
            </div>
        </div>


        {{ form().closeTag()|raw }}

    {% endif %}

<script type="text/javascript">
    $("#check_all").click(function () {
        $('.check_import').prop('checked', true);
    });

    $("#check_none").click(function () {
        $('.check_import').prop('checked', false);
    });

    $("#check_known").click(function () {
        $('.known_contact').prop('checked', true);
        $('.check_import:not(.known_contact)').prop('checked', false);
    });

    $("#check_unknown").click(function () {
        $('.known_contact').prop('checked', false);
        $('.check_import:not(.known_contact)').prop('checked', true);
    });

    $("#check_inverse").click(function () {
        $('input:checkbox:not(:disabled)').each(function () {
            if (!$(this).prop('checked')) {
                $(this).prop('checked', true);
            } else {
                $(this).prop('checked', false);
            }
        });
    });


</script>