{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-contact-list")) %}

{{ form().closeTag()|raw }}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<h1>{{ translate("txt-contact-list") }} {{ contactLink(null,'new', 'button') }}  {{ contactLink(null,'list-old', 'button') }} {{ contactLink(null,'import', 'button') }}</h1>

{{ filterbarelement(form) }}
{% include('application/partial/form-badges') %}
<p class="text-muted">{{ translate("txt-%s-items-on-%s-pages")|format(paginator.adapter.count,paginator.pageRange) }}</p>


{% if paginator.pageRange > 0 %}
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/list', 'criteria': 'name', 'text': translate("txt-name")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/list', 'criteria': 'email', 'text': translate("txt-email")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/list', 'criteria': 'organisation', 'text': translate("txt-organisation")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/list', 'criteria': 'country', 'text': translate("txt-country")} %}</th>
            <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact/list', 'criteria': 'projects', 'text': translate("txt-projects")} %}</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        {% for contactResult in paginator.getCurrentItems() %}

            <tr {% if not contactResult.fields.is_active %}class="table-danger"{% endif %}>
                <td>
                    <a href="{{ url('zfcadmin/contact/view/general',{'id': contactResult.fields.contact_id}) }}">{{ contactResult.fields.fullname }}</a>
                    <a href="{{ url('zfcadmin/contact/edit',{'id': contactResult.fields.contact_id}) }}"><i
                                class="far fa-edit"></i></a></td>
                <td><a href="mailto:{{ contactResult.fields.email }}"
                       title="{{ contact.email }}">{{ contactResult.fields.email }}</a></td>
                <td>{% if not contactResult.fields.has_organiation %}<a
                        href="{{ url('zfcadmin/organisation/view',{'id': contactResult.fields.organisation_id}) }}">{{ contactResult.fields.organisation }}</a>{% endif %}
                <td>{% if not contactResult.fields.has_organiation %}<a
                        href="{{ url('zfcadmin/country/view',{'id': contactResult.fields.country_id}) }}">{{ contactResult.fields.country_iso3 }}</a>{% endif %}
                <td>
                    <a href="{{ url('zfcadmin/contact/view/general',{'id': contactResult.fields.contact_id}) }}#projects">{{ contactResult.fields.projects }}</a>
                </td>
                <td>
                    {% if contactResult.fields.is_funder %}<strong class="text-highlight" title="{{ translate("txt-funder") }}">PA</strong>{% endif %}
                    {% if contactResult.fields.is_office %}<strong class="text-highlight" title="{{ translate("txt-funder") }}">OFF</strong>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'application/partial/pagination-control' %}
    <a href="{{ url('zfcadmin/contact/export',{'encodedFilter': encodedFilter}) }}"
       class="btn btn-primary btn-sm"><i
                class="far fa-file-excel"></i> {{ translate("txt-export-csv") }}</a>
{% else %}
    {{ ztbalert().info(translate("txt-no-contact-found"))|raw }}
{% endif %}

