{% do headTitle().append(translate("txt-duplicate-contacts")) %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set filter = form.get('filter') %}




<div class="row">

    <div class="col-md-9">

        <h1>{{ translate("txt-duplicate-contacts") }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p>{{ translate("txt-duplicate-contacts-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <div class="input-group-append input-group-btn">
                        {{ formelement(form.get('submit')) }}
                    </div>
                </div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact-admin/list', 'criteria': 'name', 'text': translate('txt-name')} %}</th>
                    <th>{{ translate('txt-email') }}</th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact-admin/list', 'criteria': 'organisation', 'text': translate('txt-organisation')} %}</th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/contact-admin/list', 'criteria': 'country', 'text': translate('txt-country')} %}</th>
                    <th>{{ translate("txt-amount") }}</th>
                </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                {% for contactAndAmount in paginator.getCurrentItems() %}

                    {% set contact = contactAndAmount['contact'] %}

                    <tr>
                        <td>{{ contactLink(contact, 'view-admin', 'name') }} {{ contactLink(contact, 'edit-admin', 'icon') }}</td>
                        <td><a href="mailto:{{ contact.email }}" title="{{ contact.email }}"><i
                                        class="fa fa-envelope-o"></i> </a></td>
                        <td>{% if contact.contactOrganisation.organisation %}{{ organisationLink(contact.contactOrganisation.organisation,'view-admin','name') }}{% endif %}</td>
                        <td>{{ countryLink(contact.contactOrganisation.organisation.country,'view-admin','name') }}</td>
                        <td>{{ contactLink(contact,'view-admin','alternativeShow',null, projectService.findProjectParticipationByContact(contact)|length,'project') }}</td>
                        <td>{{ contactAndAmount['amount'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% include 'application/partial/pagination-control' %}
        {% else %}
            {{ ztbalert().info(translate("txt-no-contacts-found"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="well well-sm">
            <fieldset>
                {{ ztbformelement(filter.get('options'), true) }}
                {{ ztbformelement(filter.get('gender'), true) }}
                {{ ztbformelement(filter.get('country'), true) }}

                                   {{ ztbformelement(form.get('submit')) }}
                    {{ ztbformelement(form.get('clear')) }}
            </fieldset>
        </div>
    </div>
</div>

{{ form().closeTag()|raw }}
