{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(contact.parseFullname()) %}


<h1>{{ contactService.parseAttention(contact) }} {{ contact.parseFullname() }}</h1>

<div class="row">

    <div class="col-md-9">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#general" data-toggle="tab">{{ translate("txt-general") }}</a></li>
            <li><a href="#address" data-toggle="tab">{{ translate("txt-address") }}</a></li>
            <li><a href="#phone" data-toggle="tab">{{ translate("txt-phone") }}</a></li>
            <li><a href="#selection" data-toggle="tab">{{ translate("txt-selection") }}</a></li>
            <li><a href="#mailing" data-toggle="tab">{{ translate("txt-mailing") }}</a></li>
            <li><a href="#idea" data-toggle="tab">{{ translate("txt-idea") }}</a></li>
            <li><a href="#project" data-toggle="tab">{{ translate("txt-project") }}</a></li>
            <li><a href="#legal" data-toggle="tab">{{ translate("txt-legal") }}</a></li>
            <li><a href="#event" data-toggle="tab">{{ translate("txt-event") }}</a></li>
            <li><a href="#cv" data-toggle="tab">{{ translate("txt-cv") }}</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                {% include 'contact/contact-admin/tab/general' %}
            </div>
            <div class="tab-pane" id="address">
                {% include 'contact/contact-admin/tab/address' %}
            </div>
            <div class="tab-pane" id="phone">
                {% include 'contact/contact-admin/tab/phone' %}
            </div>
            <div class="tab-pane" id="selection">
                {% include 'contact/contact-admin/tab/selection' %}
            </div>
            <div class="tab-pane" id="mailing">
                {% include 'contact/contact-admin/tab/mailing' %}
            </div>
            <div class="tab-pane" id="idea">
                {% include 'contact/contact-admin/tab/idea' %}
            </div>
            <div class="tab-pane" id="project">
                {% include 'contact/contact-admin/tab/project' %}
            </div>
            <div class="tab-pane" id="legal">
                {% include 'contact/contact-admin/tab/legal' %}
            </div>
            <div class="tab-pane" id="event">
                {% include 'contact/contact-admin/tab/event' %}
            </div>
            <div class="tab-pane" id="cv">
                {% include 'contact/contact-admin/tab/cv' %}
            </div>
        </div>

        <hr>
        {{ contactLink(contact,'edit-admin','button') }}
        {{ contactLink(contact,'permit','button') }}
        {{ contactLink(contact,'impersonate','button') }}
    </div>
    <div class="col-md-2">
        {{ contactPhoto(contact) }}
    </div>
</div>
