<h1>{{ translate("txt-facility-list-title") }}</h1>
<p class="lead">{{ translate("txt-facility-list-explanation") }}</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ translate("txt-name") }}</th>
        <th>{{ translate("txt-label") }}</th>
        <th>{{ translate("txt-amount-of-equipment") }}</th>
    </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
    {% for facility in facilities %}
        <tr>
            <td>
                {{ facilityLink(facility, 'view', 'name') }}
                {{ facilityLink(facility, 'edit', 'icon') }}
            </td>
            <td>{{ facilityLink(facility, 'view', 'label') }}</td>
            <td>{{ facility.equipment.count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
