<h1>{{ translate("txt-contact-list-title") }}</h1>
<p class="lead">{{ translate("txt-contact-list-explanation") }}</p>

{% if contacts %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ translate("txt-name") }}</th>
            <th>{{ translate("txt-label") }}</th>
            <th>{{ translate("txt-amount-of-equipment") }}</th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>
                    {{ contactLink(contact, 'view', 'name') }}
                    {{ contactLink(contact, 'edit', 'icon') }}
                </td>
                <td>{{ contactLink(contact, 'view', 'label') }}</td>
                <td>{{ contact.equipment.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {{ ztbalert().info(translate("txt-no-contacts-found"))|raw }}
{% endif %}
