{% do headTitle().append(translate("txt-edit-profile")) %}
<h1>{{ translate("txt-edit-profile") }}</h1>

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

{% set contact = form.get('contact') %}

{{ ztbformelement(contact.get('gender')) }}
{{ ztbformelement(contact.get('title')) }}
{{ ztbformelement(contact.get('firstName')) }}
{{ ztbformelement(contact.get('middleName')) }}
{{ ztbformelement(contact.get('lastName')) }}
{% set emailFormElement = contact.get('email') %}
{% do emailFormElement.setAttribute('disabled','disabled') %}
{{ ztbformelement(emailFormElement) }}

{{ ztbformcollection(contact.get('phone')) }}

{{ ztbformcollection(contact.get('address')) }}
{{ ztbformcollection(contact.get('community')) }}

{{ ztbformelement(contact.get('department')) }}
{{ ztbformelement(contact.get('position')) }}

{{ ztbformelement(contact.get('contact_organisation').get('organisation')) }}
{{ ztbformelement(contact.get('contact_organisation').get('country')) }}


{% set profile = contact.get('profile') %}
{{ ztbformelement(profile.get('visible')) }}
{{ ztbformelement(profile.get('description')) }}

{{ ztbformelement(contact.get('photo').get('photo')) }}

{{ ztbformelement(form.get('csrf')) }}
{{ ztbformelement(form.get('submit')) }}

{{ form().closeTag()|raw }}
