{% do headTitle().append(translate("txt-edit-profile")) %}
<h1>{{ translate("txt-edit-profile") }}</h1>
<p class="lead">{{ translate("txt-edit-profile-explanation") }}</p>

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

{% set contact = form.get('contact') %}

{{ ztbformelement(contact.get('gender')) }}
{{ ztbformelement(contact.get('title')) }}
{{ ztbformelement(contact.get('firstName')) }}
{{ ztbformelement(contact.get('middleName')) }}
{{ ztbformelement(contact.get('lastName')) }}
{% set emailFormElement = contact.get('email') %}
{% do emailFormElement.setAttribute('disabled','disabled') %}
{{ ztbformelement(emailFormElement) }}

{{ ztbformcollection(contact.get('phone')) }}

{{ ztbformcollection(contact.get('address')) }}


<fieldset>
    <legend>{{ translate("txt-community") }}</legend>
    {% for elements in contact.get('community') %}
        <div class="form-group">

            <label for="input_{{ loop.index }}"
                   class="col-lg-3 control-label">{% if loop.first %}{{ translate("txt-community") }}{% endif %}</label>

            <div class="col-lg-3">
                {{ formelement(elements.get('type').setAttribute('class','form-control disabled').setValue(loop.index)) }}
            </div>
            <div class="col-lg-4">
                {{ formelement(elements.get('community').setAttribute('class','form-control')) }}
            </div>
        </div>
    {% endfor %}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-organisation") }}</legend>
    {{ ztbformelement(contact.get('department')) }}
    {{ ztbformelement(contact.get('position')) }}

    {{ ztbformelement(contact.get('contact_organisation').get('organisation')) }}
    {{ ztbformelement(contact.get('contact_organisation').get('country')) }}
</fieldset>

{% set profile = contact.get('profile') %}
{{ ztbformelement(profile.get('visible')) }}
{{ ztbformelement(profile.get('description')) }}

{{ ztbformcollection(contact.get('photo')) }}

{{ ztbformelement(form.get('csrf')) }}
{{ ztbformelement(form.get('submit')) }}

{{ form().closeTag()|raw }}
