{% do headTitle().append(translate("txt-edit-profile")) %}
<h1>{{ translate("txt-edit-profile") }}</h1>
<p class="lead">{{ translate("txt-edit-profile-explanation") }}</p>

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

{{ ztbformelement(form.get('gender')) }}
{{ ztbformelement(form.get('title')) }}
{{ ztbformelement(form.get('firstName')) }}
{{ ztbformelement(form.get('middleName')) }}
{{ ztbformelement(form.get('lastName')) }}

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-email-address") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ contactService.contact.email }}</p>
    </div>
</div>


{% for fieldset in form.get('community').getFieldsets() %}
    {{ ztbformelement(fieldset.get('community')) }}
{% endfor %}


<fieldset>
    <legend>{{ translate("txt-phone-information") }}</legend>
    {% for fieldset in form.get('phone').getFieldsets() %}
        {{ ztbformelement(fieldset.get('phone')) }}
    {% endfor %}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-postal-address") }}</legend>
    {% set address = form.get('address') %}

    {{ ztbformelement(address.get('address')) }}
    {{ ztbformelement(address.get('zipCode')) }}
    {{ ztbformelement(address.get('city')) }}
    {{ ztbformelement(address.get('country')) }}

</fieldset>


<fieldset>
    <legend>{{ translate("txt-organisation") }}</legend>
    {{ ztbformelement(form.get('department')) }}
    {{ ztbformelement(form.get('position')) }}

    {{ ztbformelement(form.get('contact_organisation').get('organisation')) }}
    {{ ztbformelement(form.get('contact_organisation').get('country')) }}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-profile") }}</legend>
    {% set profile = form.get('profile') %}
    {{ ztbformelement(profile.get('visible')) }}
    {{ ztbformelement(profile.get('description')) }}
</fieldset>


<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-current-photo") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ contactPhoto(contactService.contact) }}</p>
    </div>
</div>

{{ ztbformelement(form.get('file')) }}



<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
