{% do headTitle().append(translate("txt-partner-search")) %}
<h1>{{ translate("txt-partner-search") }}</h1>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
<div class="row">

    <div class="col-md-10">
        <div class="input-group">
            {{ formelement(form.get('query')) }}
            <div class="input-group-append input-group-btn">
                {{ formelement(form.get('search')) }}
                {{ formelement(form.get('reset')) }}
            </div>
        </div>
        <p class="text-muted">{{ translate("txt-%s-items-on-%s-pages")|format(paginator.adapter.count,paginator.pageRange) }}</p>


        {{ lbs5alert().info(translate("txt-partner-search-engine-explanation"))|raw }}

        <hr>

        {% if paginator.adapter.count > 0 %}
            {% include 'application/partial/pagination-control' with {'paginator': paginator,'showTotal' :false} %}

            <div class="clearfix"></div>


            <div class="row row-cols-1 row-cols-sm-3 row-cols-xl-5">

                {% for result in paginator.getCurrentItems() %}

                    <div class="col mb-4">
                        <div class="card h-100">
                            {% if result.fields.photo_url|length > 0 %}
                                <a class="text-secondary"
                                   href="{{ url("community/contact/profile/contact", {'hash': result.fields.contact_hash}) }}">
                                    <img class="card-img-top"
                                         src="{{ image(serverUrl() ~ result.fields.photo_url, 200, 200, true, false, 2) }}"
                                         alt="{{ result.fields.fullname }}">
                                </a>
                            {% else %}
                                <div style="height: 55%"></div>
                            {% endif %}

                            <div class="card-body">

                                <p class="card-title"><a class="text-secondary"
                                                         href="{{ url("community/contact/profile/contact", {'hash': result.fields.contact_hash}) }}">{{ result.fields.fullname }}</a>
                                </p>

                                <p class="card-text">
                                    {{ result.fields.organisation }}<br>
                                    {{ result.fields.country }}
                                </p>


                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% include 'application/partial/pagination-control' with {'paginator': paginator,'showTotal':true} %}


        {% else %}
            {{ lbs5alert().info(translate("txt-no-search-results-found"))|raw }}
        {% endif %}
    </div>

    <div class="col-md-2">
        {% set facets = form.get('facet') %}
        {% for facet in facets %}
            {{ lbs5formelement(facet, true) }}
        {% endfor %}
    </div>


    {{ form().closeTag()|raw }}

</div>


<script type="text/javascript">
    $(function () {
        $('input[type="checkbox"]').on('click', function () {
            $('#search').submit();
        });
        $('#searchButton').on('click', function () {
            $('#search').submit();
        });
        $('#resetButton').on('click', function () {
            $('input[type="checkbox"]').each(function () {
                this.removeAttribute('checked');
            });
            $('input[name="query"]').val('');
            $('#search').submit();
        });
    });
</script>
