<h1>{{ translate("txt-facebook-%s")|format(facebook) }}
    {{ facebookLink(facebook,'edit','button') }}
    {{ facebookLink(null,'list','button') }}
    {{ facebookLink(facebook,'view-community','button') }}
</h1>

<dl class="dl-horizontal">
    <dt>{{ translate("txt-name") }}</dt>
    <dd>{{ facebook.facebook }}</dd>
    <dt>{{ translate("txt-public") }}</dt>
    <dd>{{ translate(facebook.getPublic(true)) }}</dd>
    <dt>{{ translate("txt-can-send-message") }}</dt>
    <dd>{{ translate(facebook.getCanSendMessage(true)) }}</dd>
    <dt>{{ translate("txt-show-email") }}</dt>
    <dd>{{ translate(facebook.getShowEmail(true)) }}</dd>
    <dt>{{ translate("txt-show-phone") }}</dt>
    <dd>{{ translate(facebook.getShowPhone(true)) }}</dd>
    <dt>{{ translate("txt-from-clause") }}</dt>
    <dd><code>{{ facebook.fromClause }}</code></dd>
    <dt>{{ translate("txt-where-clause") }}</dt>
    <dd><code>{{ facebook.whereClause }}</code></dd>
    <dt>{{ translate("txt-orderby-clause") }}</dt>
    <dd><code>{{ facebook.orderbyClause }}</code></dd>
    <dt>{{ translate("txt-contact-key") }}</dt>
    <dd><code>{{ facebook.contactKey }}</code></dd>
    <dt>{{ translate("txt-title") }}</dt>
    <dd>{{ translate(facebook.getTitle(true)) }}</dd>
    <dt>{{ translate("txt-sub-title") }}</dt>
    <dd>{{ translate(facebook.getSubTitle(true)) }}</dd>


    <dt>{{ translate("txt-access") }}</dt>
    {% for access in facebook.access %}
        <dd>{{ accessLink(access,'view') }}</dd>
    {% else %}
        <dd>{{ translate("txt-no-access-defined-article-is-public") }}</dd>
    {% endfor %}
</dl>

<h3>{{ translate("txt-contacts-in-facebook") }}</h3>

{% if contacts|length > 0 %}
    <table class="table table-hover table-condensed table-striped">
        <thead>
        <tr>
            <th>{{ translate("txt-display-name") }}</th>
            <th>{{ translate(facebook.getTitle(true)) }}</th>
            <th>{{ translate(facebook.getSubTitle(true)) }}</th>
            <th>{{ translate("txt-phone") }}</th>
            <th>{{ translate("txt-email") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.contact.displayName }}</td>
                <td>{{ contact.title }}</td>
                <td>{{ contact.subTitle }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endif %}

