{% if hasIdentity %}
    {{ optIn.optIn }}
        <button type="button"
                ng-init="getOptIn({{ optIn.id }})"
                ng-mouseenter="hover = true"
                ng-mouseleave="hover = false"
                ng-click="updateOptIn({{ optIn.id }}, (optin.enable ? 'false' : 'true'))" class="btn"
                ng-class="hover ? 'btn-default' : ((optin.enable && optin.id == {{ optIn.id }}) ? 'btn-primary active' : 'btn-primary')"
                ng-model="enable"
                btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
            <div class="animate-switch-container" ng-switch on="optin.enable">
                <div class="animate-switch"
                     ng-switch-when="true">
                    <span ng-show="!hover">{{ translate("txt-subscribed-for-%s")|format(optIn) }}</span>
                    <span ng-show="hover">{{ translate("txt-unsubscribe-for-%s")|format(optIn) }}</span>
                </div>
                <div class="animate-switch"
                     ng-switch-when="false">{{ translate("txt-subscribe-for-%s")|format(optIn) }}</div>
                <div class="animate-switch"
                     ng-switch-default><i class="fa fa-spinner fa-spin"></i> {{ translate("txt-loading") }}
                </div>
            </div>
        </button>
{% endif %}
