{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set leave = form.get('contact_entity_office_leave') %}
{{ lbs5formelement(leave.get('id')) }}
{{ lbs5formelement(leave.get('dateStart')) }}
{{ lbs5formelement(leave.get('dateEnd')) }}
{{ lbs5formelement(leave.get('description')) }}
{{ lbs5formelement(leave.get('hours')) }}
{{ lbs5formelement(leave.get('type')) }}

{% if leave.has('officeContact') %}
    {{ lbs5formelement(leave.get('officeContact')) }}
{% endif %}

{% if form.has('csrf') %}
    {{ lbs5formelement(form.get('csrf')) }}
{% endif %}

{% if showButtons %}
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-9">
            {{ lbs5formelement(form.get('submit')) }}
            {{ lbs5formelement(form.get('cancel')) }}
            {% if form.has('delete') %}
                {{ lbs5formelement(form.get('delete')) }}
            {% endif %}
        </div>
    </div>
{% endif %}

{{ form().closeTag()|raw }}
