{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set contactFieldset = form.get('contact_entity_contact') %}

{{ formelement(contactFieldset.get('id')) }}

<fieldset>
    <legend>{{ translate("txt-contact-information") }}</legend>

    {{ lbs5formelement(contactFieldset.get('firstName')) }}
    {{ lbs5formelement(contactFieldset.get('middleName')) }}
    {{ lbs5formelement(contactFieldset.get('lastName')) }}
    {{ lbs5formelement(contactFieldset.get('email')) }}
    {{ lbs5formelement(contactFieldset.get('gender')) }}
    {{ lbs5formelement(contactFieldset.get('title')) }}
    {{ lbs5formelement(contactFieldset.get('dateOfBirth')) }}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-organisation-information") }}</legend>
    {{ organisationformelement(form.get('organisation')) }}
    {{ lbs5formelement(form.get('branch')) }}
    {{ lbs5formelement(contactFieldset.get('department')) }}
    {{ lbs5formelement(contactFieldset.get('position')) }}
</fieldset>

{% if contact.id %}
    <fieldset>
        <legend>{{ translate("txt-photo") }}</legend>
        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">{{ translate("txt-current-photo") }}</label>

            <div class="col-sm-9">
                <p class="form-control-plaintext">{{ contactPhoto(contact, 400) }}</p>
            </div>
        </div>
    </fieldset>
{% endif %}

{{ lbs5formelement(form.get('file')) }}

<fieldset>
    <legend>{{ translate("txt-access-information") }}</legend>
    {{ accessformelement(contactFieldset.get('access')) }}
</fieldset>

{{ lbs5formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ lbs5formelement(form.get('delete')) }}
        {% endif %}
        {% if form.has('deactivate') %}
            {{ lbs5formelement(form.get('deactivate')) }}
        {% endif %}
        {% if form.has('reactivate') %}
            {{ lbs5formelement(form.get('reactivate')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}
