{% do headLink().appendStylesheet(
'//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css'
) %}

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

{% set contactFieldset = form.get('contact_entity_contact') %}

{{ formelement(contactFieldset.get('id')) }}

<fieldset>
    <legend>{{ translate("txt-contact-information") }}</legend>

    {{ ztbformelement(contactFieldset.get('firstName')) }}
    {{ ztbformelement(contactFieldset.get('middleName')) }}
    {{ ztbformelement(contactFieldset.get('lastName')) }}
    {{ ztbformelement(contactFieldset.get('email')) }}
    {{ ztbformelement(contactFieldset.get('gender')) }}
    {{ ztbformelement(contactFieldset.get('title')) }}
    {{ ztbformelement(contactFieldset.get('dateOfBirth')) }}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-organisation-information") }}</legend>
    {{ organisationformelement(contactFieldset.get('organisation')) }}
    {{ ztbformelement(contactFieldset.get('branch')) }}
    {{ ztbformelement(contactFieldset.get('department')) }}
    {{ ztbformelement(contactFieldset.get('position')) }}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-photo") }}</legend>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ translate("txt-current-photo") }}</label>

        <div class="col-sm-9">
            <p class="form-control-static">{{ contactPhoto(contact, 400) }}</p>
        </div>
    </div>
</fieldset>

{{ ztbformelement(contactFieldset.get('file')) }}

<fieldset>
    <legend>{{ translate("txt-access-information") }}</legend>
    {{ ztbformelement(contactFieldset.get('access')) }}
</fieldset>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
        {% if form.has('deactivate') %}
            {{ ztbformelement(form.get('deactivate')) }}
        {% endif %}
        {% if form.has('reactivate') %}
            {{ ztbformelement(form.get('reactivate')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">
    $('input[type=date]').datepicker({
        sliderAccessArgs: {touchonly: false},
        dateFormat: 'yy-mm-dd'
    });
</script>
