{% do headScript().appendFile('assets/js/codemirror.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/sql.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/selection-pointer.js', 'text/javascript') %}
{% do headScript().appendFile('assets/js/codemirror/matchbrackets.js', 'text/javascript') %}

{% do headLink().appendStylesheet('assets/css/codemirror.css') %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{% set facebook = form.get('contact_entity_facebook') %}

{{ lbs5formelement(facebook.get('facebook')) }}
{{ lbs5formelement(facebook.get('public')) }}
{{ lbs5formelement(facebook.get('canSendMessage')) }}
{{ lbs5formelement(facebook.get('showEmail')) }}
{{ lbs5formelement(facebook.get('showPhone')) }}
{{ lbs5formelement(facebook.get('fromClause')) }}
{{ lbs5formelement(facebook.get('whereClause')) }}
{{ lbs5formelement(facebook.get('orderbyClause')) }}
{{ lbs5formelement(facebook.get('contactKey')) }}
{{ lbs5formelement(facebook.get('title')) }}
{{ lbs5formelement(facebook.get('subtitle')) }}
{{ accessformelement(facebook.get('access')) }}

{{ lbs5formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
        {{ lbs5formelement(form.get('delete')) }}
    </div>
</div>

{{ form().closeTag()|raw }}


<script>
    var $htmlEditor = CodeMirror.fromTextArea(document.getElementById("whereClause"), {
        mode: "sql",
        lineNumbers: true,
        selectionPointer: true,
        lineWrapping: true,
        matchBrackets: true
    });
    $htmlEditor.setSize(null, 600);
</script>