{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set selection = form.get('contact_entity_selection') %}

{{ lbs5formelement(selection.get('id')) }}
{{ lbs5formelement(selection.get('selection')) }}
{{ lbs5formelement(selection.get('tag')) }}
{{ lbs5formelement(selection.get('note')) }}
{{ contactformelement(selection.get('contact')) }}
{{ lbs5formelement(selection.get('type')) }}

{{ lbs5formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
        {% if form.has('delete') %}
            {{ lbs5formelement(form.get('delete')) }}
        {% endif %}
        {% if form.has('deactivate') %}
            {{ lbs5formelement(form.get('deactivate')) }}
        {% endif %}
        {% if form.has('reactivate') %}
            {{ lbs5formelement(form.get('reactivate')) }}
        {% endif %}
    </div>
</div>

{{ form().closeTag()|raw }}
