{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-optin-list")) %}

{{ form().closeTag()|raw }}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{% set filter = form.get('filter') %}



<div class="row">

    <div class="col-md-9">

        <h1>{{ translate("txt-optin-list") }} {{ optInLink(null,'new', 'button') }}</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="lead">{{ translate("txt-optin-list-explanation") }}</p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    {{ formelement(filter.get('search')) }}
                    <div class="input-group-append input-group-btn">
                        {{ formelement(form.get('submit')) }}
                    </div>
                </div>
            </div>
        </div>

        {% if paginator.pageRange > 0 %}
            <table class="table table-hover table-striped table-sm">
                <thead>
                <tr>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/opt-in/list', 'criteria': 'name', 'text': translate("txt-name")} %}</th>
                    <th>{% include 'application/partial/sortable-table-header' with {'route': 'zfcadmin/opt-in/list', 'criteria': 'description', 'text': translate("txt-description")} %}</th>
                    <th>{{ translate("txt-active") }}</th>
                    <th>{{ translate("txt-contacts") }}</th>
                    <th>{{ translate("txt-mailings") }}</th>
                </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                {% for optIn in paginator.getCurrentItems() %}
                    <tr {% if optIn.isActive %}class="table-success"{% endif %}>
                        <td>{{ optInLink(optIn,'view', 'name') }} {{ optInLink(optIn,'edit', 'icon') }}</td>
                        <td>{{ optIn.description }}</td>
                        <td>{{ translate(optIn.getActive(true)) }}</td>
                        <td>{{ contactService.getAmountOfContactsInOptIn(optIn) }}</td>
                        <td>{{ optIn.mailing.count() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'application/partial/pagination-control' with {'paginator': paginator} %}
        {% else %}
            {{ ztbalert().info(translate("txt-no-optins-found"))|raw }}
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="well well-sm">
            <fieldset>

                {{ ztbformelement(filter.get('active'), true) }}
                                   {{ ztbformelement(form.get('submit')) }}
                    {{ ztbformelement(form.get('clear')) }}
            </fieldset>
        </div>
    </div>
</div>

{{ form().closeTag()|raw }}



