<div id="contact-list">

    <h1 id="title">{{ translate("txt-contact-list") }}</h1>

    {% do form.prepare() %}

    {{ form().openTag(form)|raw }}

    {{ ztbformelement(form.get('search')) }}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ ztbformelement(form.get('submit')) }}

        </div>
    </div>

    {{ form().closeTag()|raw }}

    {% if paginator.pageRange > 0 %}
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th class="col-md-2">{{ translate("txt-name") }}</th>
                <th class="col-md-2">{{ translate("txt-email") }}</th>
                <th>{{ translate("txt-organisation") }}</th>
                <th>{{ translate("txt-projects") }}</th>
            </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
            {% for contact in paginator.getCurrentItems() %}
                <tr>
                    <td>{{ contactLink(contact,'view-admin', 'name') }}</td>
                    <td>{{ contactLink(contact,'view-admin', 'email') }}</td>
                    <td>
                        {% if contact.contactOrganisation %}
                            {% set organisationService = organisationServiceProxy(contact.contactOrganisation.organisation) %}
                            {{ organisationLink(organisationService, 'view', 'name') }}
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'contact/partial/pagination-control' with {'paginator': paginator} %}
    {% else %}
        {{ ztbalert().info(translate("txt-no-contacts-found"))|raw }}
    {% endif %}

</div>
