<div id="contact-list">

    <h1 id="title">{{ translate("txt-contact-list") }}</h1>

    <div class="row">
        <div class="col-md-6">
            <p class="lead">{{ translate("txt-contact-list-explanation") }}</p>
        </div>

        <div class="col-md-6">
            <div class="pull-right">
                <form class="form-inline" role="form" id="contactSearch">
                    <div class="form-group">
                        <label class="sr-only" for="search-box">{{ translate("txt-search") }}</label>
                        <input type="search" class="form-control col-md-12" id="search" name="q"
                               value="{{ searchItem }}"
                               placeholder="{{ translate("txt-search-item") }}">
                    </div>
                    <input type="submit" value="{{ translate("txt-search") }}" class="btn btn-primary">
                </form>
            </div>
        </div>

    </div>


    {% if   paginator.pageRange > 0 %}
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th class="col-md-2">{{ translate("txt-name") }}</th>
                <th class="col-md-2">{{ translate("txt-email") }}</th>
                <th>{{ translate("txt-organisation") }}</th>
                <th>{{ translate("txt-projects") }}</th>
            </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
            {% for contact in paginator.getCurrentItems() %}
                <tr>
                    <td>{{ contactLink(contact,'view-admin', 'name') }}</td>
                    <td>{{ contactLink(contact,'view-admin', 'email') }}</td>
                    <td>
                        {% if contact.contactOrganisation %}
                            {% set organisationService = organisationServiceProxy(contact.contactOrganisation.organisation) %}
                            {{ organisationLink(organisationService, 'view', 'name') }}
                        {% endif %}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ ztbalert().info(translate("txt-no-contacts-found"))|raw }}
    {% endif %}

    {% include 'contact/partial/pagination-control' with {'paginator': paginator} %}
</div>

<script type="text/javascript">
    $("#contactSearch").on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    url: 'contact/search',
                    data: {
                        max_rows: 12,
                        search_item: $("#search").val()
                    },
                    success: function (data) {
                        $("#contact-list").html(data);
                        $("#throbber").remove();
                    },
                    error: function (event, ui) {
                        alert("Search Failed");
                    }
                });
            }
    );
</script>