<div class="span12">
    <h1>{{ translate("txt-message-view-title") }}</h1>

    <p class="lead">{{ translate("txt-message-view-explanation") }} {{ messageLink(message,'edit','button') }}</p>
</div>

<div class="row-fluid">
    <div class="span8">
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-last-update") }}</dt>
            <dd>{{ message.lastUpdate|dateformatter|raw }} {{ message.lastUpdateBy }}</dd>
            <dt>{{ translate("txt-message-type") }}</dt>
            <dd>{{ translate(message.getType(true)) }}</dd>
            <dt>{{ translate("txt-message") }}</dt>
            <dd>{{ message|texthighlighter|raw|nl2br }}</dd>
        </dl>
    </div>

    <div class="span4">
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-facilities") }}</dt>
            {% if message.facility.count > 0 %}
                {% for facility in message.facility %}
                    <dd>{{ facility }}</dd>
                {% endfor %}
            {% else %}
                <dd>{{ translate("txt-not-given") }}</dd>
            {% endif %}

            <dt>{{ translate("txt-areas") }}</dt>
            {% if message.area.count > 0 %}
                {% for area in message.area %}
                    <dd>{{ area }}</dd>
                {% endfor %}
            {% else %}
                <dd>{{ translate("txt-not-given") }}</dd>
            {% endif %}

            <dt>{{ translate("txt-oper-area") }}</dt>
            {% if message.operArea.count > 0 %}
                {% for operArea in message.operArea %}
                    <dd>{{ operArea }}</dd>
                {% endfor %}
            {% else %}
                <dd>{{ translate("txt-not-given") }}</dd>
            {% endif %}
        </dl>
    </div>
</div>
