{% do headTitle().append(translate("txt-profile")) %}
{% do headTitle().append(contact.parseFullname()) %}

<h1 class="home">{{ translate("%s")|format(contact.parseFullname()) }}</h1>

<div class="row">


    <div class="col-md-10">

        <h2>{{ translate("txt-personal-profile") }}</h2>
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-name") }}</dt>
            <dd>{{ contact.parseFullName() }}
            <dt>{{ translate("txt-organisation") }}</dt>
            <dd>{{ contactService.parseOrganisation(contact) }}</dd>
            <dt>{{ translate("txt-organisation-type") }}</dt>
            <dd>{{ contact.contactOrganisation.organisation.type }}</dd>
            <dt>{{ translate("txt-country") }}</dt>
            <dd>{{ contactService.parseCountry(contact) }}</dd>
            <dt>{{ translate("txt-expertise") }}</dt>
            <dd>{{ contact.profile.description|nl2br }}</dd>
        </dl>
    </div>

    <div class="col-md-2">
        {{ contactPhoto(contact) }}
    </div>
</div>

{{ ideaInviteLink(null, 'invite','button', null, contact) }}
{{ projectInviteLink(null, 'invite','button', null, contact) }}
