{% do headTitle().append(translate("txt-create-your-account")) %}
<h1>{{ translate("txt-create-your-account") }}</h1>
<p>{{ translate("txt-create-your-account-explanation") }}</p>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

{{ lbs5formelement(form.get('contact').get('gender')) }}
{{ lbs5formelement(form.get('contact').get('title')) }}
{{ lbs5formelement(form.get('contact').get('firstName')) }}
{{ lbs5formelement(form.get('contact').get('middleName')) }}
{{ lbs5formelement(form.get('contact').get('lastName')) }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-email-address") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ contact.email }}</p>
    </div>
</div>


<fieldset class="bg-light border-light rounded p-3">
    <legend>{{ translate("txt-organisation") }}</legend><br>

    <div class="organisation {% if not hasOrganisations %}d-none{% endif %}">
        {{ lbs5formelement(form.get('contact_organisation').get('organisation_id')) }}
        <div class="row mb-3 {% if not form.get('contact_organisation').get('organisation_id').value() != 0 %}d-none{% endif %}"
             id="branch">
            <label class="col-sm-3 col-form-label">{{ translate("txt-branch-form-label") }}</label>

            <div class="col-sm-9">
                <select class="form-control" name="contact_organisation[branch]">
                    {% for key, branch in branches %}
                        <option value="{{ key }}"
                                {% if data.contact_organisation.branch == key %}selected="selected"{% endif %}
                        >{{ branch }}</option>
                    {% endfor %}
                </select>

                <small class="fomr-text text-muted">{{ translate("txt-form-branch-explanation") }}</small>
            </div>
        </div>
    </div>
    <div id="organisation_country"
         {% if hasOrganisations and form.get('contact_organisation').get('organisation_id').value() != 0 %}class="d-none"{% endif %}>

        {{ lbs5formelement(form.get('contact_organisation').get('organisation')) }}
        {{ lbs5formelement(form.get('contact_organisation').get('type')) }}
        {{ lbs5formelement(form.get('contact_organisation').get('country')) }}
    </div>
</fieldset>

<fieldset>
    <legend>{{ translate("txt-phone-information") }}</legend>
    {% for element in form.get('phone').getElements() %}
        {{ lbs5formelement(element) }}
    {% endfor %}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-postal-address") }}</legend>
    {% set address = form.get('address') %}

    {{ lbs5formelement(address.get('address')) }}
    {{ lbs5formelement(address.get('zipCode')) }}
    {{ lbs5formelement(address.get('city')) }}
    {{ lbs5formelement(address.get('country')) }}

</fieldset>

<fieldset>
    <legend>{{ translate("txt-profile") }}</legend>
    {% set profile = form.get('profile') %}
    {{ lbs5formelement(profile.get('visible')) }}
    {{ lbs5formelement(profile.get('description')) }}
    {{ lbs5formelement(form.get('contact').get('department')) }}
    {{ lbs5formelement(form.get('contact').get('position')) }}
</fieldset>

{% if not contact.photo.isEmpty() %}
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">{{ translate("txt-current-photo") }}</label>

        <div class="col-sm-9">
            <p class="form-control-plaintext">{{ contactPhoto(contact, 200) }}</p>
        </div>
    </div>

    {{ lbs5formelement(form.get('removeFile')) }}
{% endif %}

{{ lbs5formelement(form.get('file')) }}
{{ lbs5formelement(form.get('optIn')) }}
{{ lbs5formelement(form.get('csrf')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">
    $(function () {
        const updateFormInformation = function (radio) {
            if (radio.val() && radio.val() !== '0') {
                $.ajax({
                    url: '{{ serverUrl() }}{{ url('organisation/json/get-branches') }}',
                    type:
                        'post',
                    data:
                        {
                            'organisationId':
                                $('input[name="contact_organisation[organisation_id]"]:checked').val()
                        }
                    ,
                    success: function (response) {

                        const branchSelect = $("#branch").find('select');
                        /**
                         * Store the branchValue because the options are rebuilt every time
                         * Use the branch val on form change, and take the current branch in any other case
                         */
                        const branchValue = '{{ data.contact_organisation.branch|raw }}';
                        branchSelect.find('option').remove();
                        $(response).each(function () {
                            const option = $('<option />');
                            option.attr('value', this.value).text(this.label);

                            if (branchValue === this.value) {
                                option.attr('selected', 'selected');
                            }

                            branchSelect.append(option);
                        });
                    }
                })
                ;
            }
        };

        const $selectOrganisation = $('input[name="contact_organisation[organisation_id]"]');
        $selectOrganisation.change(function () {
            const self = $(this);
            const noneOfTheAbove = self.val() === '0';
            $("#organisation_country").toggleClass('d-none', !noneOfTheAbove);
            $("#branch").toggleClass('d-none', noneOfTheAbove);
            updateFormInformation(self);
        });

        updateFormInformation($selectOrganisation);

    });
</script>
