{% do headTitle().append(translate("txt-edit-profile")) %}
<h1>{{ translate("txt-edit-profile") }}</h1>
<p class="lead">{{ translate("txt-edit-profile-explanation") }}</p>

{% do form.prepare() %}

{{ form().openTag(form)|raw }}

{{ ztbformelement(form.get('gender')) }}
{{ ztbformelement(form.get('title')) }}
{{ ztbformelement(form.get('firstName')) }}
{{ ztbformelement(form.get('middleName')) }}
{{ ztbformelement(form.get('lastName')) }}

<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-email-address") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ contactService.contact.email }}</p>
    </div>
</div>


<fieldset>
    <legend>{{ translate("txt-phone-information") }}</legend>
    {% for fieldset in form.get('phone').getFieldsets() %}
        {{ ztbformelement(fieldset.get('phone')) }}
    {% endfor %}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-postal-address") }}</legend>
    {% set address = form.get('address') %}

    {{ ztbformelement(address.get('address')) }}
    {{ ztbformelement(address.get('zipCode')) }}
    {{ ztbformelement(address.get('city')) }}
    {{ ztbformelement(address.get('country')) }}

</fieldset>


<fieldset>
    <legend>{{ translate("txt-organisation") }}</legend>

    <div class="organisation">
        {{ ztbformelement(form.get('contact_organisation').get('organisation_id')) }}
    </div>

    <div class="form-group branch">
        <label class="col-sm-3 control-label">{{ translate("txt-branch-form-label") }}</label>

        <div class="col-sm-9">
            <select class="form-control" name="contact_organisation[branch]" id="branch"></select>

            <p class="help-block">{{ translate("txt-form-branch-explanation") }}</p>
        </div>
    </div>


    <div class="organisation_country">
        {{ ztbformelement(form.get('contact_organisation').get('organisation')) }}
        {{ ztbformelement(form.get('contact_organisation').get('country')) }}
    </div>

    {{ ztbformelement(form.get('department')) }}
    {{ ztbformelement(form.get('position')) }}
</fieldset>

<fieldset>
    <legend>{{ translate("txt-profile") }}</legend>
    {% set profile = form.get('profile') %}
    {{ ztbformelement(profile.get('visible')) }}
    {{ ztbformelement(profile.get('description')) }}
</fieldset>


<div class="form-group">
    <label class="col-sm-3 control-label">{{ translate("txt-current-photo") }}</label>

    <div class="col-sm-9">
        <p class="form-control-static">{{ contactPhoto(contactService.contact) }}</p>
    </div>
</div>

{{ ztbformelement(form.get('file')) }}


<div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
        {{ ztbformelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<script type="text/javascript">


    (function ($) {
        $.fn.updateFormInformation = function () {

            if ($('input[name="contact_organisation[organisation_id]"]:checked').val() == '0') {
                $('.branch').hide();
                $('.organisation_country').show();
            } else if ($('input[name="contact_organisation[organisation_id]"]:checked').val()) {
                $.ajax({
                    url: '{{ serverUrl() }}{{ url('organisation/json/get-branches') }}',
                    type: 'post',
                    data: {
                        'organisationId': $('input[name="contact_organisation[organisation_id]"]:checked').val()
                    },
                    success: function (response) {

                        $('.branch').show();
                        /**
                         * Store the branchValue because the options are rebuilt every time
                         * Use the branch val on form change, and take the current branch in any other case
                         */
                        if ($("#branch").val() != null) {
                            var branchValue = $("#branch").val()
                        } else {
                            var branchValue = '{{ contactService.contact.contactOrganisation.branch|raw }}';
                        }

                        $('#branch').find('option').remove();


                        $('.organisation_country').hide();
                        $(response).each(function () {
                            var option = $('<option />');
                            option.attr('value', this.value).text(this.label);

                            if (branchValue == this.value) {
                                option.attr('selected', 'selected');
                            }

                            $('#branch').append(option);
                        });

                    },
                    error: function (xhr) {

                    }
                });
            }

        };
    })(jQuery);


    $(document).on('change', 'form', function (e) {

        e.defaultPrevented;

        $(document).updateFormInformation();

    });

    $(document).ready(function () {

        var hasOrganisation = $(':radio[name="contact_organisation[organisation_id]"]').length !== 0;

        if (!hasOrganisation) {
            $(".organisation").remove();
            $('.organisation_country').show();
            $('.branch').hide();
        } else {
            var emptyElement = '<div class="radio"><label><input type="radio" value="0" required="required" name="contact_organisation[organisation_id]">-- None of the organisations above</label></div>'

            $('#control-group-organisation').find(".col-lg-9").append(emptyElement);
        }

        $(document).updateFormInformation();
    });
</script>
