{% do headTitle().append(translate("txt-manage-profile")) %}
<h1>{{ translate("txt-manage-profile") }}</h1>

<p>Dear {{ identity().parseFullName() }},

<p> Welcome to the ITEA Community. We have created an account for you to access the ITEA Community website, your e-mail
    address is used as a unique identifier. Please use the form below to set your password and to manage your
    subscriptions

    {% do form.prepare() %}
    {{ form().openTag(form)|raw }}

    {{ ztbformelement(form.get('password')) }}
    {{ ztbformelement(form.get('passwordVerify')) }}
    {{ ztbformelement(form.get('optIn')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
    </div>
</div>

{{ form().closeTag()|raw }}
