{% include 'contact/profile/profile-tabs' %}


{% if not contact.isVisibleInCommunity() %}
    <br>
    {{ ztbalert().info(translate("txt-your-profile-is-hidden-and-not-shown-on-community-website"))|raw }}
{% endif %}

<div class="row">
    <div class="col-md-8">
        <h2>{{ translate("txt-my-profile") }}</h2>
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-name") }}</dt>
            <dd>{{ contact.parseFullName() }}</dd>

            <dt>{{ translate("txt-profile-visibility") }}</dt>
            {% if contact.profile.visible is not null %}
                <dd>{{ translate(contact.profile.getVisible(true)) }}</dd>
            {% else %}
                <dd>{{ translate("txt-no-visibililty-defined") }}</dd>
            {% endif %}

            <dt>{{ translate("txt-department") }}</dt>
            <dd>{{ contact.department|default(translate("txt-no-department-provided")) }}</dd>

            <dt>{{ translate("txt-position") }}</dt>
            <dd>{{ contact.position|default(translate("txt-no-position-provided")) }}</dd>

            <dt>{{ translate("txt-expertise") }}</dt>
            <dd>{{ contact.profile.description|default(translate("txt-no-expertise-provided")) }}</dd>


            <dt>{{ translate("txt-linked-in-profile") }}</dt>
            {% if contact.profile.linkedIn %}
                <dd><a href="{{ contact.profile.linkedIn }}" target="_blank">{{ contact.profile.linkedIn }}</a></dd>
            {% else %}
                <dd>{{ translate("txt-linked-in-profile-not-provided") }}</dd>
            {% endif %}
        </dl>
        {{ profileLink(contact,'edit','button') }}

        {% if contact.hasOrganisation %}
            <h2 class="pt-4">{{ translate("txt-my-organisation") }}</h2>
            <dl class="dl-horizontal">
                <dt>{{ translate("txt-organisation") }}</dt>
                <dd>{{ contactService.parseOrganisation(contact) }}</dd>
                <dt>{{ translate("txt-website") }}</dt>
                <dd>
                    {% for web in contact.contactOrganisation.organisation.web|filter(web => web.isMain()) -%}
                        <a href="{{ web }}">{{ web }}</a><br>
                    {% else %}
                        {{ translate("txt-no-website-provided") }}
                    {% endfor %}
                </dd>
                <dt>{{ translate("txt-organisation-type") }}</dt>
                <dd>{{ contact.contactOrganisation.organisation.type }}</dd>
                <dt>{{ translate("txt-country") }}</dt>
                <dd>{{ contactService.parseCountry(contact) }}</dd>
                <dt>{{ translate("txt-organisation-description") }}</dt>

                {% if contact.contactOrganisation.organisation.description.description %}
                    <dd>{{ contact.contactOrganisation.organisation.description.description|raw }}</dd>
                {% else %}
                    <dd>{{ translate("txt-no-organisation-description-provided") }}</dd>
                {% endif %}
            </dl>
            {{ organisationUpdateLink(null, 'edit', 'button', contact.contactOrganisation.organisation) }}
        {% endif %}
    </div>
    <div class="col-md-4">
        {{ contactPhoto(contact, 200) }}
    </div>
</div>