{% do headTitle().append(translate("txt-profile")) %}
{% do headTitle().append(contact.parseFullName()) %}
{% do headTitle().append(translate("txt-organisation")) %}

<h1>{{ translate("txt-hello-%s")|format(zfcUserDisplayName()) }}</h1>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="{{ url('community/contact/profile/view') }}">{{ translate("txt-profile")|capitalize }}</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" href="{{ url('community/contact/profile/organisation') }}">{{ translate("txt-organisation")|capitalize }}
            {% if not contact.contactOrganisation %}
                <i class="text-danger fa fa-exclamation-triangle" aria-hidden="true"></i>
            {% endif %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('community/contact/profile/events') }}">{{ translate("txt-events")|capitalize }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url('community/contact/profile/privacy') }}">{{ translate("txt-privacy-settings")|capitalize }}</a>
    </li>
</ul>


<h2>{{ translate("txt-organisation") }}</h2>
{% if contact.contactOrganisation %}
    <dl class="dl-horizontal">
        <dt>{{ translate("txt-organisation") }}</dt>
        <dd>{{ contactService.parseOrganisation(contact) }}</dd>
        <dt>{{ translate("txt-organisation-type") }}</dt>
        <dd>{{ contact.contactOrganisation.organisation.type.description }}</dd>
        <dt>{{ translate("txt-country") }}</dt>
        <dd>{{ contact.contactOrganisation.organisation.country }}</dd>
        {% if contact.department %}
            <dt>{{ translate("txt-department") }}</dt>
            <dd>{{ contact.department }}</dd>
        {% endif %}
        {% if contact.position %}
            <dt>{{ translate("txt-position") }}</dt>
            <dd>{{ contact.position }}</dd>
        {% endif %}
        {% if contact.contactOrganisation.organisation.description|length > 0 %}
            <dt>{{ translate("txt-general-description") }}</dt>
            <dd>{{ contact.contactOrganisation.organisation.description|raw }}</dd>
        {% endif %}
        {% if contact.contactOrganisation.organisation.logo|length > 0 %}
            <dt>{{ translate("txt-logo") }}</dt>
            <dd>{{ organisationLogo(contact.contactOrganisation.organisation, 300, false) }}</dd>
        {% endif %}
    </dl>
{% else %}
    {{ ztbalert().danger(translate("txt-no-organisation-found-complete-your-profile-to-participate-in-projects"))|raw }}
{% endif %}
{{ organisationUpdateLink(null, 'edit', 'button', contact.contactOrganisation.organisation) }}