{% include 'contact/profile/profile-tabs' %}

<h2>{{ translate("txt-organisation") }}</h2>
{% if contact.hasOrganisation() %}
    <div class="row">
        <div class="col-md-9">
            <dl class="dl-horizontal">
                <dt>{{ translate("txt-organisation") }}</dt>
                <dd>{{ contactService.parseOrganisation(contact) }}</dd>
                <dt>{{ translate("txt-website") }}</dt>
                <dd>
                    {% for web in contact.contactOrganisation.organisation.web|filter(web => web.isMain()) -%}
                        <a href="{{ web }}">{{ web }}</a><br>
                    {% else %}
                        {{ translate("txt-no-website-provided") }}
                    {% endfor %}
                </dd>
                <dt>{{ translate("txt-organisation-type") }}</dt>
                <dd>{{ contact.contactOrganisation.organisation.type.description }}</dd>
                <dt>{{ translate("txt-country") }}</dt>
                <dd>{{ contact.contactOrganisation.organisation.country }}</dd>
                <dt>{{ translate("txt-organisation-description") }}</dt>
                {% if contact.contactOrganisation.organisation.description.description %}
                    <dd>{{ contact.contactOrganisation.organisation.description.description|raw }}</dd>
                {% else %}
                    <dd>{{ translate("txt-no-organisation-description-provided") }}</dd>
                {% endif %}
            </dl>
        </div>
        <div class="col-md-3">
            {% if contact.contactOrganisation.organisation.logo|length > 0 %}
                {{ organisationLogo(contact.contactOrganisation.organisation, 300) }}
            {% endif %}
        </div>
    </div>
{% else %}
    {{ lbs5alert().danger(translate("txt-no-organisation-found-complete-your-profile-to-participate-in-projects"))|raw }}
{% endif %}

{{ organisationUpdateLink(null, 'edit', 'button', contact.contactOrganisation.organisation) }}