{% do headTitle().append(translate("txt-send-message")) %}
{% do headTitle().append(contact.parseFullname()) %}

<h1>{{ translate("txt-send-message-to-partner-%s")|format(contact.parseFullname()) }}</h1>
<p>{{ translate("txt-send-message-to-explanation-please-note-that-your-email-address-will-be-readable-by-the-recipient") }}</p>

{% do form.prepare() %}
{{ form().openTag(form)|raw }}

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-to") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ contact }}</p>
    </div>
</div>

<div class="row mb-3">
    <label class="col-sm-3 col-form-label">{{ translate("txt-organisation") }}</label>

    <div class="col-sm-9">
        <p class="form-control-plaintext">{{ contactService.parseOrganisation(contact) }}
            ({{ contactService.parseCountry(contact) }})</p>
    </div>
</div>


{{ lbs5formelement(form.get('message').setOption('help-block',translate("txt-write-your-message-to-%s")|format(contact.parseFullName())).setAttribute('placeholder','txt-write-your-message')) }}

<div class="row mb-3">
    <div class="offset-sm-3 col-sm-9">
        {{ lbs5formelement(form.get('submit')) }}
        {{ lbs5formelement(form.get('cancel')) }}
    </div>
</div>

{{ form().closeTag()|raw }}

<style type="text/css">
    textarea {
        font-family: "Courier New", Courier, monospace;
    }
</style>