{% do headTitle().append(translate("txt-profile")) %}
{% do headTitle().append(contact.parseFullName()) %}

<h1>{{ translate("txt-hello-%s")|format(zfcUserDisplayName()) }}</h1>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active"><a class="nav-link active"
                                   href="{{ url('community/contact/profile/view') }}">{{ translate("txt-profile")|capitalize }}</a>
    </li>
    <li class="nav-item"><a class="nav-link"
                            href="{{ url('community/contact/profile/organisation') }}">{{ translate("txt-organisation")|capitalize }}
            {% if not contact.contactOrganisation %}
                <i class="text-danger fa fa-exclamation-triangle" aria-hidden="true"></i>
            {% endif %}</a></li>
    <li class="nav-item"><a class="nav-link"
                            href="{{ url('community/contact/profile/events') }}">{{ translate("txt-events")|capitalize }}</a>
    </li>
    <li class="nav-item"><a class="nav-link"
                            href="{{ url('community/contact/profile/privacy') }}">{{ translate("txt-privacy-settings")|capitalize }}</a>
    </li>
</ul>

<div class="row">
    <div class="col-md-9">

        <h2>{{ translate("txt-personal-profile") }}</h2>
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-name") }}</dt>
            <dd>{{ contact.parseFullName() }} ({{ contact.id }})</dd>
            <dt>{{ translate("txt-email") }}</dt>
            <dd>{{ contact.email }}</dd>
            {% if contactService.getDirectPhone(contact) %}
                <dt>{{ translate("txt-direct-phone") }}</dt>
                <dd>{{ contactService.getDirectPhone(contact) }}</dd>
            {% endif %}
            {% if contactService.getMobilePhone(contact) %}
                <dt>{{ translate("txt-mobile-phone") }}</dt>
                <dd>{{ contactService.getMobilePhone(contact) }}</dd>
            {% endif %}
            {% if  contactService.getMailAddress(contact) %}
                <dt>{{ translate("txt-postal-address") }}</dt>
                <dd>{{ contactService.getMailAddress(contact).address }}</dd>
                <dd>{{ contactService.getMailAddress(contact).zipCode }} {{ contactService.getMailAddress(contact).city }}</dd>
                <dd>{{ contactService.getMailAddress(contact).country|upper }}</dd>
            {% endif %}
            <dt>{{ translate("txt-profile-visibility") }}</dt>
            {% if contact.profile.visible is not null %}
                <dd>{{ translate(contact.profile.getVisible(true)) }}</dd>
            {% else %}
                <dd>{{ translate("txt-no-visibililty-defined") }}</dd>
            {% endif %}
            {% if contact.profile.description %}
                <dt>{{ translate("txt-expertise") }}</dt>
                <dd>{{ contact.profile.description|nl2br }}</dd>
            {% endif %}
            {% for optIn in contact.optIn(true) %}
                {% if loop.first %}
                    <dt>{{ translate("txt-profile-list-opt-in") }}</dt>{% endif %}
                <dd>{{ optIn.optIn }} ({{ optIn.description }})</dd>
            {% endfor %}
        </dl>

        {{ profileLink(contact,'edit', 'button') }}
        {{ contactLink(contact,'change-password', 'button') }}

        {% if hasNda %}
            {% if not isAllowed('route/community/program/nda/submit','submit') %}
                <button class="btn btn-primary"
                        disabled><i
                            class="fa fa-upload"></i> {{ translate("txt-upload-of-nda-not-possible-without-organisation") }}
                </button>
            {% else %}
                {{ ndaLink(null,'submit', 'button') }}
            {% endif %}

        {% endif %}
    </div>
    <div class="col-md-3">
        <br><br>
        {{ contactPhoto(contact, 150, null, false, true) }}
    </div>

</div>