{% include 'contact/profile/profile-tabs' %}

<h2>{{ translate("txt-general-information") }}</h2>

<div class="row">

    <div class="col-md-9">
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-name") }}</dt>
            <dd>{{ contact.parseFullName() }}</dd>
            <dt>{{ translate("txt-email") }}</dt>
            <dd>{{ contact.email }}</dd>

            <dt>{{ translate("txt-organisation") }}</dt>
            <dd>
                {% if contact.hasOrganisation() %}
                    <a href="{{ url('community/contact/profile/organisation') }}">{{ contactService.parseOrganisation(contact) }}</a>
                {% else %}
                    <i class="text-danger fas fa-exclamation-triangle"></i> {{ translate("txt-no-organisation-known") }}
                {% endif %}
            </dd>


            {% if contactService.getDirectPhone(contact) %}
                <dt>{{ translate("txt-direct-phone") }}</dt>
                <dd>{{ contactService.getDirectPhone(contact) }}</dd>
            {% endif %}
            {% if contactService.getMobilePhone(contact) %}
                <dt>{{ translate("txt-mobile-phone") }}</dt>
                <dd>{{ contactService.getMobilePhone(contact) }}</dd>
            {% endif %}
            {% if  contactService.getMailAddress(contact) %}
                <dt>{{ translate("txt-postal-address") }}</dt>
                <dd>{{ contactService.getMailAddress(contact).address }}</dd>
                <dd>{{ contactService.getMailAddress(contact).zipCode }} {{ contactService.getMailAddress(contact).city }}</dd>
                <dd>{{ contactService.getMailAddress(contact).country|upper }}</dd>
            {% endif %}
            <dt>{{ translate("txt-profile-visibility") }}</dt>
            {% if contact.profile.visible is not null %}
                <dd>{{ translate(contact.profile.getVisible(true)) }}</dd>
            {% else %}
                <dd>{{ translate("txt-no-visibililty-defined") }}</dd>
            {% endif %}
            {% if contact.profile.description %}
                <dt>{{ translate("txt-expertise") }}</dt>
                <dd>{{ contact.profile.description|nl2br }}</dd>
            {% endif %}
            <dt>{{ translate("txt-linked-in-profile") }}</dt>
            {% if contact.profile.linkedIn %}
                <dd><a href="{{ contact.profile.linkedIn }}" target="_blank">{{ contact.profile.linkedIn }}</a></dd>
            {% else %}
                <dd>{{ translate("txt-linked-in-profile-not-provided") }}</dd>
            {% endif %}
            {% for optIn in contact.optIn(true) %}
                {% if loop.first %}
                    <dt>{{ translate("txt-profile-list-opt-in") }}</dt>{% endif %}
                <dd>{{ optIn.optIn }} ({{ optIn.description }})</dd>
            {% endfor %}
        </dl>

        {{ profileLink(contact,'edit', 'button') }}
        {{ profileLink(contact,'my', 'button') }}
        {{ contactLink(contact,'change-password', 'button') }}

        {% if hasNda %}
            {% if not isAllowed('route/community/program/nda/submit','submit') %}
                <button class="btn btn-primary"
                        disabled><i
                            class="fas fa-upload"></i> {{ translate("txt-upload-of-nda-not-possible-without-organisation") }}
                </button>
            {% else %}
                {{ ndaLink(null,'submit', 'button') }}
            {% endif %}

        {% endif %}
    </div>
    <div class="col-md-3">
        {{ contactPhoto(contact, 150) }}
    </div>
</div>