{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-generate-deeplinks-for-selection-%s")|format(selection)) %}

<h1>{{ selection }}</h1>

<p>{{ translate("txt-selection-generate-deeplinks-for-contacts-in-selection") }}</p>

{% if selection.dateDeleted %}
    {{ ztbalert().danger(translate("txt-selection-has-been-deleted-on-%s")|format(selection.dateDeleted|date("d-m-Y")))|raw }}
{% endif %}

{% do form.prepare() %}
{{ form().openTag(form)|raw }}
{{ ztbformelement(form.get('target')) }}
{{ ztbformelement(form.get('key')) }}

<div class="form-group row">
    <div class="offset-sm-3 col-sm-9">
        {{ ztbformelement(form.get('submit')) }}
    </div>
</div>

{{ form().closeTag()|raw }}


{% if deeplinks|length > 0 %}
    <h2>{{ translate("txt-deeplinks") }}</h2>
    <table class="table table-hover table-striped table-sm">
        <thead>
        <tr>
            <th>{{ translate("txt-contact") }}</th>
            <th>{{ translate("txt-deeplink") }}</th>
            <th>{{ translate("txt-url") }}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="3"></td>
        </tr>
        </tfoot>
        <tbody>
        {% for deeplink in deeplinks %}
            <tr>
                <td>{{ contactLink(deeplink.contact,'view-admin','name') }}</td>
                <td>{{ deeplinkLink(deeplink.deeplink) }}</td>
                <td><a href="{{ deeplinkLink(deeplink.deeplink) }}">{{ deeplinkLink(deeplink.deeplink) }}</a></td>
            </tr>
        {% endfor %}
        </tbody>


    </table>

{% endif %}