{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-view-selection-%s")|format(selectionServcie.selection)) %}
{% do headLink().appendStylesheet('//cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css') %}
{% do headScript().appendFile('//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js', 'text/javascript') %}
{% do headScript().appendFile('//cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js', 'text/javascript') %}


<h1>{{ selection }}</h1>

{% if selection.dateDeleted %}
    {{ ztbalert().danger(translate("txt-selection-has-been-deleted-on-%s")|format(selection.dateDeleted|date("d-m-Y")))|raw }}
{% endif %}


{% if error %}
    {{ ztbalert().danger(error)|raw }}
{% endif %}

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#general" data-toggle="tab">{{ translate("txt-general") }}</a></li>
    <li><a href="#contacts" data-toggle="tab">{{ translate("txt-contacts") }}</a></li>
    <li><a href="#mailings" data-toggle="tab">{{ translate("txt-mailings") }}</a></li>
    <li><a href="#access" data-toggle="tab">{{ translate("txt-access") }}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="general">
        <h2>{{ translate("txt-general") }}</h2>
        <dl class="dl-horizontal">
            <dt>{{ translate("txt-name") }}</dt>
            <dd>{{ selection.selection }}</dd>
            <dt>{{ translate("txt-group-tag") }}</dt>
            <dd>{{ selection.tag|default(translate("txt-not-provided")) }}</dd>
            <dt>{{ translate("txt-note") }}</dt>
            <dd>{{ selection.note|default(translate("txt-not-provided")) }}</dd>
            <dt>{{ translate("txt-personal") }}</dt>
            <dd>{{ translate(selection.getPersonal(true))|raw }}</dd>
            <dt>{{ translate("txt-date-created") }}</dt>
            <dd>{{ selection.dateCreated|string_date }}</dd>
            {% if selection.dateDeleted %}
                <dt>{{ translate("txt-date-deleted") }}</dt>
                <dd><i class="fa fa-trash"></i> {{ selection.dateDeleted|string_date }}</dd>
            {% endif %}
            {% if selection.contact %}
                <dt>{{ translate("txt-owner") }}</dt>
                <dd>{{ contactLink(selection.contact,'view-admin','name') }}</dd>
            {% endif %}
            <dt>{{ translate("txt-amount-of-contacts") }}</dt>
            <dd>{{ selectionService.getAmountOfContacts(selection) }}</dd>
            {% if selection.mailingList|length > 0 %}
                <dt>{{ translate("txt-mailing-lists") }}</dt>
                {% for mailingList in selection.mailingList %}
                    <dd>{{ mailingList.alias }}</dd>
                {% endfor %}
            {% endif %}
        </dl>

        {% if selectionService.isSql(selection) %}
            <h2>{{ translate("txt-sql-query") }}</h2>
            <pre>{{ selection.sql.query }}</pre>
        {% endif %}

        {{ selectionLink( selection,'edit','button') }}
        {{ selectionLink( selection ,'edit-contacts','button') }}
    </div>
    <div class="tab-pane" id="contacts">
        <h2>{{ translate("txt-contacts") }}</h2>

        {% if contacts|length > 0 %}
            <table class="table table-striped table-condensed table-hover">
                <thead>
                <tr>
                    <th class="col-md-4">{{ translate("txt-contact") }}</th>
                    <th class="col-md-4">{{ translate("txt-email") }}</th>
                    <th class="col-md-4">{{ translate("txt-organisation") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>
                            <a href="{{ url('zfcadmin/contact-admin/view',{'id':contact['id']}) }}">{{ contact['firstName'] }} {{ contact['middleName'] }} {{ contact['lastName'] }}</a>
                        </td>
                        <td>{{ contact['email'] }}</td>
                        <td>{{ contact['organisation'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().warning(translate("txt-no-contacts-in-this-selection"))|raw }}
        {% endif %}

        {{ selectionLink( selection ,'edit-contacts','button') }}
        {{ selectionLink( selection ,'export-csv','button') }}
        {{ selectionLink( selection ,'export-excel','button') }}
    </div>
    <div class="tab-pane" id="mailings">
        <h2>{{ translate("txt-mailings") }}</h2>
        {% if selection.mailing.count() > 0 %}
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th class="col-md-4">{{ translate("txt-mailing") }}</th>
                    <th class="col-md-4">{{ translate("txt-subject") }}</th>
                    <th class="col-md-2">{{ translate("txt-owner") }}</th>
                    <th class="col-md-2">{{ translate("txt-date") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for mailing in selection.mailing %}
                    <tr>
                        <td>{{ mailingLink(mailing,'view','name') }}</td>
                        <td>{{ mailing.mailSubject }}</td>
                        <td>{{ contactLink(mailing.contact,'view-admin','name') }}</td>
                        <td>{{ mailing.dateCreated|string_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-mailing-send-with-this-selection"))|raw }}
        {% endif %}
    </div>
    <div class="tab-pane" id="access">
        <h2>{{ translate("txt-access") }}</h2>

        {% if selection.access.count() > 0 %}
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th class="col-md-4">{{ translate("txt-access") }}</th>
                </tr>
                </thead>
                <tbody>
                {% for access in  selection.access %}
                    <tr>
                        <td>{{ accessLink(access,'view','name') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {{ ztbalert().info(translate("txt-no-access-defined-for-this-selection"))|raw }}
        {% endif %}
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('table').DataTable();
    });
</script>