{% include 'contact/contact-details/header' %}

{% do mergeForm.prepare() %}

<h2>{{ translate("txt-merge-contact-%s")|format(contact.parseFullName()) }}</h2>
<p>{{ translate("txt-merge-contact-explanation-step-one") }}</p>

{{ form().openTag(mergeForm)|raw }}

<div class="row">
    <div class="col-5">
        <h3>{{ translate("txt-source") }} ({{ translate("txt-will-be-deleted") }})</h3>
        <hr>
        <div class="form-group">
            {% set main = mergeForm.get('source-main') %}
            {% if main.getValueOptions()|length == 0 %}
                {{ ztbalert().info(translate("txt-no-suggestions-found"))|raw }}
            {% else %}
                {% for value, label in main.getValueOptions() %}
                    <div class="form-check">
                        <input value="{{ value }}" type="radio" name="{{ main.getAttribute('name') }}"
                               class="form-check-input" id="loop_{{ loop.index }}">
                        <label class="form-check-label"
                               for="loop_{{ loop.index }}">{{ label }}                        </label>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-check">

                <input class="form-check-input" value="other" type="radio" name="{{ main.getAttribute('name') }}" id="other"
                        {% if main.getValueOptions()|length == 0 %} checked{% endif %}>
                <label class="form-check-label" for="other">{{ translate("txt-use-search-below") }}</label>

            </div>
            {{ contactformelement(mergeForm.get('source-search')) }}
        </div>
    </div>

    <div class="col-1 text-center">
        <h2><i class="fas fa-arrow-circle-right fa-2x"></i></h2>
    </div>

    <div class="col-5">
        <h3>{{ translate("txt-target") }} ({{ translate("txt-will-remain-active") }})</h3>
        <hr>
        <dl>
            <dt>{{ translate("txt-id") }}</dt>
            <dd>{{ contact.id }}</dd>
            <dt>{{ translate("txt-first-name") }}</dt>
            <dd>{{ contact.firstName }}</dd>
            <dt>{{ translate("txt-last-name") }}</dt>
            <dd>{{ contact.lastName }} {% if contact.middleName %}({{ contact.middleName }}){% endif %}</dd>
            <dt>{{ translate("txt-gender") }}</dt>
            <dd>{{ contact.gender.name }} ({{ contact.gender }})</dd>
            {% if contact.title.name %}
                <dt>{{ translate("txt-title") }}</dt>
                <dd>{{ contact.title }} ({{ contactService.parseAttention(contact) }})</dd>
            {% endif %}
            <dt>{{ translate("txt-primary-email") }}</dt>
            <dd>{{ contact.email }} <a href="mailto:{{ contact.email }}"><i
                            class="far fa-envelope"></i></a></dd>


            {% for email in contact.emailAddress|filter(email => email.email != contact.email) -%}
                {% if loop.first %}
                    <dt>{{ translate("txt-alternative-email") }}</dt>
                {% endif %}
                <dd>{{ email.email }} <a href="mailto:{{ email.email }}"><i
                                class="far fa-envelope"></i></a></dd>
            {% endfor %}

            <dt>{{ translate("txt-organisation") }}</dt>
            {% if contactService.hasOrganisation(contact) %}
                <dd>{{ organisationLink(
                        contact.contactOrganisation.organisation,'view-admin', 'name',contact.contactOrganisation.branch
                    ) }} ({{ contact.contactOrganisation.organisation.type }}),
                    {{ countryLink(contact.contactOrganisation.organisation.country,'view-admin','name') }}</dd>
            {% else %}
                <dd>{{ translate("txt-no-organisation-provided") }}</dd>
            {% endif %}

            <dt>{{ translate("txt-profile-visibility") }}</dt>
            {% if contact.profile.visible is not null %}
                <dd>{{ translate(contact.profile.visible(true)) }}</dd>
            {% else %}
                <dd>{{ translate("txt-no-visibililty-defined") }}</dd>
            {% endif %}
            {% if contact.profile.description %}
                <dt>{{ translate("txt-expertise") }}</dt>
                <dd>{{ contact.profile.description|nl2br }}</dd>
            {% endif %}

            <dt>{{ translate("txt-department") }}</dt>
            <dd>{{ contact.department|default(translate("txt-unknown")) }}</dd>
            <dt>{{ translate("txt-position") }}</dt>
            <dd>{{ contact.position|default(translate("txt-unknown")) }}</dd>
            <dt>{{ translate("txt-access") }}</dt>
            {% for access in contact.access %}
                <dd>{{ accessLink(access,'view','name') }} {% if not access.selection.isEmpty() %}*{% endif %}</dd>
            {% else %}
                <dd>{{ translate("txt-no-access-defined") }}</dd>
            {% endfor %}
            {% if contact.getDateCreated() %}
                <dt>{{ translate("txt-date-created") }}</dt>
                <dd>{{ contact.getDateCreated()|string_date }}</dd>
            {% endif %}
            {% if contact.getDateUpdated() %}
                <dt>{{ translate("txt-last-update") }}</dt>
                <dd>{{ contact.getDateUpdated()|string_date }}</dd>
            {% endif %}
        </dl>
    </div>
</div>
<hr>
{{ ztbformelement(mergeForm.get('preview')) }}
{{ form().closeTag()|raw }}

<script>
    $(function () {
        var actionTemplate = '{{ url('zfcadmin/contact/merge',  {'sourceId': '-src-', 'targetId': contact.id})|raw }}',
            $form = $('#contact-merge');
        $('#btn-preview').click(function () {
            var selected = $form.find('input[name="source-main"]:checked').val(),
                source = (selected === 'other') ? $form.find('#source-search').val() : selected;
            source && $form.attr('action', actionTemplate.replace('-src-', source));
        });
    });
</script>